[2014-10-25 17:29] ghost opened #4 "Q: elixir-mode vs. alchemist"
I'm just starting with Elixir myself. Wondering what are the differences between the two modes.
I'm seeing different outputs of runing `mix test' on a generated project (with some modifications), and wondering why the reporting is so different?

With elixir-mix-test:

[code]

While with alchemist-mix-test:

[code]

[2014-10-25 17:53] #4 closed, assigned to nobody

[2014-11-02 19:23] pragdave opened #10 "alchemist-utils--establish-project-root-directory"
This happens when I try to compile:

[code]

The problem is here:  https://github.com/tonini/alchemist.el/blob/master/alchemist-mix.el#L143

[2014-11-02 22:23] #10 closed, assigned to nobody

[2014-11-05 18:01] pigmej opened #14 "alchemist enabled in all buffers (even non elixir-mode based)"
Enabling alchemist, enables it in all buffers. Expected behavior would be that it's only enabled in `elixir-mode`

[2014-11-05 19:12] #14 closed, assigned to nobody

[2014-11-17 15:00] tonini opened #15 "Add keybindings to toggle through errors in test buffer"

[2014-11-17 15:00] tonini opened #16 "create animated gifs which shows functionality to README"

[2014-11-18 10:06] tonini opened #17 "Change keymap bindings"
After using the bindings I realized that they're too long, we should think about it how we could trim them down a bit.

/cc @pragdave

[2014-11-23 13:07] tomterl opened #20 "Fallback company-backends [whishlist]"
It would be nice if the automatic setup of company-mode for elixir files would allow it to define a list of company-backends to be tried if the Elixir/Erlang completion does not find a hit; at the moment I do not get completion for the code in the project files. A customization-variable would be nice, as I guess two emacs users have three opinions on what fallback backends are the most appropriate

[2014-11-23 15:30] #20 closed, assigned to nobody

[2014-11-24 17:06] gmcabrita opened #21 "alchemist-company fails to load on 0.7.1 (package: 20141123.718)"
When opening a file in Elixir-mode I get the following message:

[code]

Last I checked a few days ago it was working fine (probably on 0.7.0).

[2014-11-24 18:33] #21 closed, assigned to nobody

[2014-11-30 10:58] X4lldux opened #23 "Completion not working when installed from ELPA"
Completion doesn't work for me. It completes only "texts" from current file
![zrzut ekranu z 2014-11-30 11 56 28](https://cloud.githubusercontent.com/assets/22363/5237487/f8c56744-7887-11e4-87af-6cf46da9cae8.png)

Installed versions:
Emacs: "GNU Emacs 24.4.1 (x86_64-suse-linux-gnu, GTK+ Version 3.14.5) of 2014-11-26 on cloud127"
Company: "0.8.8-cvs"
Elixir: "Elixir 1.0.2"

[2014-12-02 15:25] tsloughter opened #24 "Completions not working"
Installed from MELPA on emacs 24.3.50.1 and Elixir 1.0.2

In my elisp run on emacs load:

[code]

Any attempt to complete an Elixir call simply outputs, "Cannot complete at point" to the minibuffer.

Company works otherwise. And alchemist works fine besides this.

[2014-12-07 06:59] #16 closed, assigned to nobody

[2014-12-07 06:59] #15 closed, assigned to nobody

[2014-12-14 08:08] tsharju opened #25 "Completions show up a bit strange"
Hi,

First of all thanks for alchemist. It's really nice tool. :)

I've had issue with the completions showing up a bit strange. Here's what happens...

![screen shot 2014-12-14 at 09 30 03](https://cloud.githubusercontent.com/assets/41751/5426801/24327f4c-8379-11e4-9b5d-4e55dca96503.png)
![screen shot 2014-12-14 at 09 30 48](https://cloud.githubusercontent.com/assets/41751/5426802/2465aade-8379-1

[2014-12-14 12:21] #25 closed, assigned to nobody

[2014-12-14 20:56] #24 closed, assigned to nobody

[2015-01-07 00:48] cs-victor-nascimento opened #29 "org-mode babel support"
[WARNING: feature-request]

It would be nice to have org-mode babel support to run pieces of elixir in .org files. That would make it very easy to create tutorials for elixir inside emacs.

My emacslisp-fu is not good at all so that is why this is not a PR \o/.

If this is not the place for this discussion, please close it and tell me where it would fit better.

[2015-01-07 05:50] tonini commented on #29
Hi,

I think if you would like to get org-babel elixir support you should have a look  into the org-babel guide http://orgmode.org/worg/org-contrib/babel/languages.html#develop

I don't think I will integrate features like that into Alchemist. You should consider to contribute to org-babel directly because it would be nice if org-babel comes with elixir support. ;-)

[2015-01-08 07:37] #23 closed

[2015-01-08 09:50] nixusr commented on #17
:+1:

[2015-01-08 16:24] avli opened #31 "Is documentation inside IEx buffer broken?"
Company mode is active and completion works fine, but I don't see documentation for selected functions like shown in "Complete & Documentation lookup" paragraph. I use alchemist version 20150107.2241 and Elixir 1.0.2. Am I doing something wrong?

[2015-01-08 16:51] tonini commented on #31
Hi @avli

When a candidate is selected in the completion list, you need to hit the key <kbd>C-d</kbd> to open the proper documentation. Did you did that?

[2015-01-08 17:41] avli commented on #31
Hi @tonini

Silly me :) You're right, I didn't press `C-d`. Now I see `C-d` chord is mentioned in "Auto-completion" section. Probably it will be a good idea to repeat this information one more time in "Complete & Documentation lookup" section for those like me :)

[2015-01-08 17:42] tonini commented on #31
Glade you found it. :-)

Yeah I need to refine the whole README. ;-)

[2015-01-08 18:12] avli commented on #31
Thank you! I think the issue can be closed.

[2015-01-08 18:12] #31 closed

[2015-01-12 23:27] fremontmj opened #33 "No completion for Elixir library functions"
I've just installed Alchemist (it looks great!).  I've also installed company (and uninstalled auto-complete).  Completion generally works, but I get no completion options for e.g. List.

When I run company-complete manually, it says there are no completions.

I installed Alchemist from Melpa.  alchemist-version reports "Alchemist 0.13.0snapshot".
I also have elixir-mode version 2.30snapshot.

My

[2015-01-12 23:31] fremontmj opened #34 "Document look up doesn't work with local function"
When I run alchemist-help-search-at-point on this line:
Riffer4.testMike

I get a documentation window.

When I run it on a line within the same module with just:
testMike
I don't get a documentation window; instead I get "error in process sentinel: Wrong type argument: stringp, nil.

[2015-01-13 05:43] tonini commented on #33
Hi @fremontmj

You mean Completion generally works for other modes but not for `elixir-mode`?

We had this kind of situation before. I think the problem could be with the alchemist-backend registration. Can I have a look at your emacs config?

Could you also paste the content of the `company-backends` list here please.

Thanks

[2015-01-13 05:46] tonini commented on #34
@fremontmj you can't run documentation lookup for a function without the Module information. Except for example Kernel functions.

You can test this in `iex` itself. Thats not an Alchemist thing, thats how Elixir works and needs to know the Module information too.

But the error message by Alchemist is not good, thanks you reported this I will fix this.

Cheers

[2015-01-13 06:55] tonini commented on #34
The fix with the message is merged. https://github.com/tonini/alchemist.el/commit/aa6249c39d22e36c8f14e022b470c43950abbd0a?diff=unified#diff-9137299d451394ff8675817a3621bd62R97

It's on master, but you have to wait until MELPA built the package. Or you just use it manually.

[2015-01-13 14:10] fremontmj commented on #33
@tonini Thanks for looking into this.

Completion works in elixir-mode - I can complete my own function names etc., but no suggestions come up when I try to complete Elixir libraries.

Here's company-backends:

company-backends is a variable defined in `company.el'.
Its value is (alchemist-company company-bbdb company-nxml company-css company-eclim company-semantic company-clang company-xcode comp

[2015-01-13 15:50] tonini commented on #33
Could you please require `elixir-mode` and then `alchemist` specific like:

[code]

And then I would like to ask do you try to complete Modules from your own project outside of the Module you try to complete? I mean it can't be that the completion works for your own code but not for elixir core, thats not possible. It sounds more that the completion not working at all.

Please try to require the e

[2015-01-13 18:29] fremontmj commented on #33
Before adding the require lines you've asked, I did the other thing you asked, to try completion between my modules.

From my Riffer4 module I typed:
AWS
and I got the suggestion AWSDBInterface (another of my modules), which I selected.

I then got to:
AWSDBInterface.get
and got the suggestion get_AWS_credentials_from_local_file (one of my functions)

So it seems completion IS working between my m

[2015-01-13 18:34] fremontmj commented on #34
Oops, I see what you mean about needing the Module name.

Thanks!

[2015-01-13 21:58] fremontmj opened #36 "Don't open new window for tests if *mix* window already exists in another frame (enhancement)"
Alchemist reuses the *mix* buffer if it's in the same frame as the cursor, but if you have a *mix* buffer in another frame, it opens a new one in the current frame, and then the output is shown in both frames.

It would be better if Alchemist could notice if the buffer already exists in *any* frame, and just reuse that one.

[2015-01-13 23:11] fremontmj commented on #33
More information that might be relevent:

When I'm typing into one of my modules in (.../code/Riffer4), then if *another project* (root .../code/Riffer3) of mine doesn't have its TAGS file loaded into emacs, it somehow automatically gets loaded and switched to.  Very bizarre.

In an attempt to figure out what the heck was going on, I deleted that tags file.  Now when I edit in my current project,

[2015-01-14 01:01] fremontmj commented on #33
OK, I solved the riffer3 baloney.  The emacs variable tags-table-list was set to the wrong value.  I fixed that and now company doesn't try to use the wrong tags file.

However, there is still no completion for Elixir library functions.

Best.

[2015-01-14 04:46] #34 closed

[2015-01-14 05:27] tonini commented on #33
Ok it looks like we found the problem.

Please try this custom hook to set the only `company- backend` to be `alchemist-company` in the list.

[code]

The completion only for your own codebase works because your company-mode only works with ctags, and thats not how alchemist works. I think there is an issue in your `company-mode` setup where the priority of the backend from ctags is higher than th

[2015-01-14 21:07] fremontmj commented on #33
I added that code to init.el and restarted emacs.

Unfortunately it didn't solve the problem

Thanks for trying...

[2015-01-14 21:18] fremontmj commented on #33
... actually, in addition to not solving the problem, that set of code prevented company from doing any kind of completion at all :(

Sigh!

[2015-01-15 05:46] tonini commented on #33
hi @fremontmj

Actually thats great, because now we know that `alchemist-company` doesn't work at all, and the completion you got inside your own codebase was just because of the `ctags`.

To clear none of you custom emacs setups is the problem why its not working you need to remove everything out of your emacs init except the elixir and alchemist stuff.

Also run the `shell-command` function from

[2015-01-15 20:48] fremontmj commented on #33
elixir --version reports Elixir 1.0.2

 My init.el now looks like this:

;;; package --- Summary
;;; Commentary:
;;; Code:
;;; all above here just to get flycheck to shut the hell up

(add-to-list 'load-path "~/.emacs.d/.cask/24.4.1/elpa/elixir-mode-20150103.439")
(add-to-list 'load-path "~/.emacs.d/.cask/24.4.1/elpa/alchemist-20150109.106")
(add-to-list 'load-path "~/.emacs.d/.cask/24.4.1/elpa/co

[2015-01-15 20:52] fremontmj commented on #33
(those require's are actually on separate lines and have backticks, somehow the cut/paste messed up)

[2015-01-15 21:12] tonini commented on #33
You using `(setq alchemist-project-compile-when-needed t)` which means that it compile your project also when try to complete. When your project is not compile able, (for example issues in the code) the completion wont work.

Please try to use back-ticks for including code, so it will be correct formatted and its much more readable.

Please just do the following inside your `init.el`

[code]

[2015-01-15 21:47] fremontmj commented on #33
OK, I implemented your init.el exactly, but nothing changed.

I'm no emacs expert, but doesn't your version of init.el still load all of the packages managed by Cask?  For instance, after starting emacs with your init.el, I was able to run a helm command even though helm is not mentioned in the init.el (but it is in my Cask file and installed .cask directory).

That's why I had previously tried th

[2015-01-15 21:50] tonini commented on #33
ok an updated one :)

[code]

alchemist will require company for you.

[2015-01-15 22:06] fremontmj commented on #33
I get "symbol's function definition is void: global-company-mode" unless I put

(require 'company)     before
(global-company-mode 1)

Probably b/c we're trying to set a mode before Alchemist required company.  :)

In any case, no change, even with the additional require  :(

[2015-01-15 22:07] X4lldux opened #38 "Goto not working when jumping to the same file"
When jumping to a function that is in current buffer nothing happens.
Removing `save-excursion` from `alchemist-goto-definition-at-point` solves the problem - I think it shouldn't be in a function which supposed to move the point.

[2015-01-15 22:10] tonini commented on #38
Thanks for reporting, I will push a fix asap. <3

X4lldux <notifications@github.com> schrieb am Do., 15. Jan. 2015 23:07:

[2015-01-16 00:31] X4lldux opened #40 "Jumping to functions without specified module name"
When function doesn't have module name specified, it should be assumed that function is from current module. I've hacked a proposal but it's shity and brakes things: 7a02c709eeca0b9e754ba49e3f4e910958bf4af9

[2015-01-16 08:08] edubkendo opened #41 "Help fails with error"
When I try to use the `help` function  (specifically, `alchemist-help-search-at-point`) I get the error:

`error in process sentinel: Wrong type argument: stringp, nil`

I'm using evil-mode so it's possible that is where the problem is. I am not sure how long since it stopped working.

[2015-01-16 08:16] tonini commented on #41
Hey @edubkendo

I tried it on `master` and its working so far.

Could you tell me in which situation on what expression you used it when getting the message?

[2015-01-16 08:39] edubkendo commented on #41
@tonini a little more experimenting makes it seem to be an issue related to `helm`. If I go to this line: https://github.com/edubkendo/test_alchemist/blob/master/lib/test_alchemist.ex#L4 (repo I made for this case, nothing special) and type `:` (this is basically the evil-mode equivalent of M-x) and then type `alc` and tab, this brings up helm which then lets me fuzzy match for `alchemist-help-sea

[2015-01-16 12:43] tonini commented on #41
This is hard to say, because I have no idea about helm and how it calls functions. Maybe there is an issue with the expression crapping under the cursor when the function is called over helm.

Would be great if someone who's use helm and also have some lisp knowledge could have a look at it.

[2015-01-16 14:31] edubkendo commented on #41
Yeah, I can work around it ok enough for now. Just wanted to report it for the record.

[2015-01-16 14:35] tonini commented on #41
Yeah thanks a lot :) maybe use the keybinding? Or help me find a new way of
shorter key bindings :-)

Eric West <notifications@github.com> schrieb am Fr., 16. Jan. 2015 15:32:

[2015-01-20 07:56] #38 closed

[2015-01-26 10:18] X4lldux opened #42 "Discuss: running project while "goto" and "complete""
Does those to features need to run the entire project? Sometimes apps do some kind of cleaning up and resetting some data (clearing logs, metric counters, etc) when are started, so developers run them in strict conditions. Or simply take a while to initiate. But alchemist starts them whenever it needs.
I've noticed '--no-compile' option when alchemist runs mix run and I think there should be also

[2015-01-26 10:29] X4lldux opened #43 "Discuss: ctags"
Does using ctags ([mmorearty/elixir-ctags](https://github.com/mmorearty/elixir-ctags), [rgrinberg/mix_ctags](https://github.com/rgrinberg/mix_ctags)) can enhance in any way alchemist?

[2015-01-26 12:46] tonini commented on #43
@X4lldux Alchemist has a functionality to jump to module/function definition and it does that differently than `ctags`. It reads the source of the compilation file straight from Elixir source code.

`ctags` is different, its like scanning the Elixir source and build a tags file which holds the informations about the defintions.

Alchemist uses the `M-.` and `M-,` for jump to definition and jump ba

[2015-01-26 12:46] tonini commented on #42
@X4lldux Thanks for the feedback, I will have a look into it, maybe a good idea to prevent the application start.

[2015-02-01 16:45] #43 closed

[2015-02-01 16:46] X4lldux commented on #42
What did it break?

[2015-02-01 22:10] iensu commented on #33
Hi! I also just installed alchemist and elixir-mode, and they're working great. Awesome job.

However, I was having an issue with displaying documentation for during autocompletion.  The reason was that I had enabled `alchemist-project-compile-when-needed`. After disabling it, documentation lookup is working fine again. The clue was in your comment above. Maybe add a line about that in the readme?

[2015-02-02 08:50] tonini commented on #33
Thanks @iensu

I know I need to refine the README and also fix some grammar things. :-)

Thanks for the feedback.

Cheers

[2015-02-05 06:58] #40 closed

[2015-02-10 20:06] jtmoulia opened #45 "Setting the mix env"
Pretty straightforward: I'd love to be able to set the `MIX_ENV` for the various alchemist mix commands, e.g. `alchemist-mix-compile`. Having to switch constantly switch environment with `getenv`/`setenv` is tiring and error prone.

Maybe it could be implemented as a prefix arg to the mix commands?

btw, I've only been using alchemist for a couple of weeks, but it's already saved me a ton of time

[2015-02-11 06:27] tonini commented on #45
@jtmoulia Thanks a really great idea.

I will try to implement this soon.

Cheers

Sam

[2015-02-11 09:36] wrachwal opened #46 "Completion fails in nested project having its own dependencies"
If a nested mix project defines its own dependencies, mix tool keep them in deps/ in the root directory of the whole project. This is right and desired behavior. Unfortunately, this fools Alchemist which pops up:

[code]

When I did deps.get immediately in the nested project, I get another error:

[code]

I guess it can be related with the fact that in Emacs by default CWD is where a visited file

[2015-02-23 08:41] tonini commented on #46
@wrachwal Sorry for the late answer, I have a lot of work at the moment but I will have a look into it soon.

Cheers

Sam

[2015-03-04 04:30] rranelli commented on #36
You can setup this yourself with

[code]

This will achieve what you want ;). I use this to keep a frame dedicated to the compilation buffer.

[2015-03-04 04:31] rranelli commented on #17
:+1: just please.

I've rebound (is that even a word ?) the whole thing myself

[2015-03-04 04:44] rranelli opened #48 "Jump from test back to implementation (and vice-versa)"
When working with `rspec-mode` the feature I've come to love the most is being able to jump back and forth between test and implementation.

From what I was able to find (correct me if I'm wrong!) `alchemist.el` only provides me with going from implementation to test (and always splitting windows, which sometimes is not what I want).

Would you be interested in adding this feature ? I would happil

[2015-03-06 15:32] hunterboerner opened #50 "Company mode in exs file"
How can I use company mode when not in a mix project or in an exs file?

[2015-03-07 06:39] jtmoulia opened #51 "Running alchemist commands against an existing erlang node"
I sometimes want to run alchemist commands against an existing erlang node rather than boot up a new node. This would potentially help with issues like #50, #46, #33, etc.

I knocked together an example of what this might look like for autocomplete using [distel](https://github.com/massemanet/distel) over [here](https://github.com/jtmoulia/proximel). This could be expanded to back thing like alche

[2015-03-11 01:38] victorolinasc commented on #29
Just as a future reference to anyone, here is the code to evaluate elixir source blocks in org-mode.
https://github.com/victorolinasc/ob-elixir

[2015-03-16 18:29] andreas-roehler opened #54 "emacs-elixir and alchemist.el"
Thanks a lot writing that marvellous stuff. Is it going to be backported to emacs-elixir?
Alchemist seems to take the menu of elixir-mode. Maybe not define as own (minor)-mode, just loading the stuff as extension?

[2015-03-17 09:36] seemsindie opened #55 "How to use?"
Hello,

I am a rookie when it comes to emacs and lisp, and i have trouble getting this to work.

I have added this:
(add-hook 'after-init-hook 'global-company-mode)
(add-to-list 'auto-mode-alist '("\\.ex$" . alchemist-mode))
(add-to-list 'auto-mode-alist '("\\.exs$" . alchemist-mode))

But neither syntax highlighting or auto complete are working, any ideas or a manual for how to use this? README.m

[2015-03-17 09:43] rranelli commented on #55
Hi @seemsindie,

Syntax highlighting and basic Elixir integration is provided by [elixir-mode](http://github.com/elixir-lang/emacs-elixir)

In order to get autocomplete features you need to install and configure [company-mode](https://github.com/company-mode/company-mode)

Were you able to install the packages via Melpa? (If you're not familiar with Melpa, take a look at this [paragraph](https://g

[2015-03-17 14:44] seemsindie commented on #55
Yes i was able to install it with melpa. I now installed elixir-mode and i have highlighting, but auto complete still don't work. For company-mode i only have:
(add-hook 'after-init-hook 'global-company-mode)
I am not sure if i need something else...

[2015-03-17 16:25] rranelli commented on #55
I still haven't used `company-mode`. I will switch to it and let you know what you need.

[2015-03-17 20:52] seemsindie commented on #55
Thanks man, i appreciate it :smile:

[2015-03-17 21:42] rranelli commented on #55
@seemsindie, I just finished adding company-mode in my Emacs setup.

First, ensure you've already installed the `company` package `(M-x package-install RET company RET)`

After installing `company`, all I had to do was add the following lines to my `init` files:

[code]

Seems like that's all there is to it.

[2015-03-23 07:56] tonini commented on #54
@andreas-roehler the idea of alchemist is to integrate all the tool chain which comes from Elixir. Emacs-Elxir provides font-locking, indentation and navigation support for the Elixir. So both modes are different, emacs-elixir is a Elixir language major mode and alchemist a minor mode to help developers to work with emacs and elixir better.

There already a lot of things moved out from the Elixir

[2015-03-23 20:31] #54 closed

[2015-03-23 20:37] andreas-roehler opened #56 "IEx: No secondary prompt, hang after multiline input"
Can't put in a form like:

if true do
  "asdf"
end

IEx hangs, resp. echos the input, but not the expected result.
Whilst  when iex is called from bash, "asdf" appears as expected.

Thanks!

[2015-03-26 09:16] andreas-roehler opened #57 "Let's have a menu"
Notably for beginners a menu is helpful

[2015-03-30 08:22] andreas-roehler opened #59 "alchemist-mode-map breaks key-binding convention"
As some keys got broken, checking for the reasons:  alchemist-mode-map displayed a violation of

http://www.gnu.org/software/emacs/manual/html_node/elisp/Key-Binding-Conventions.html

Don't define C-c letter as a key in Lisp programs. Sequences consisting of C-c and a letter (either upper or lower case) are reserved for users;

[2015-03-30 15:47] larshesel opened #60 "disable applications startup (--no-start) when running tests"
I would be fantastic if I could customize alchemist so it does not automatically start the application when running tests from the 'test-on-save' hook.

If this feature is already there, I apologize. I've been looking for a while now, but failed to find it.

[2015-03-30 22:53] jtmoulia commented on #59
Reading further:

<kbd>C-c C-a</kbd> is undefined in vanilla Emacs...

[2015-03-31 06:46] andreas-roehler commented on #59
At stake here are setting like that:

(define-key map (kbd "C-c a t") 'alchemist-mix-test)

i.e C-c followed by a letter.

[2015-03-31 06:53] jtmoulia commented on #59
I'd be curious what others think, but the manual's opinion is clear:

But, it is rough to change keybindings. Does having a user called function which sets up the <kbd>C-c a</kbd> prefix comply with it?

[2015-03-31 10:25] andreas-roehler commented on #59
Beside the bug, changing the bindings seems to pay WRT to efficiency.
As the bindings are mode-specific, could use for example the one below, which are in fact just two-key sequences against three keys now.

        (define-key map [(control c)(control p)] 'beginning-of-statement)
        (define-key map [(control c)(control n)] 'end-of-statement)
        (define-key map [(control c)(control u)] '

[2015-03-31 23:17] jtmoulia commented on #56
Hey @andreas-roehler -- I just tried your example in the IEx prompt started by `elixir-mode-iex` and found the same issue. I'd give that a try, and if you find that you still have the issue then [elixir-lang/emacs-elixir](https://github.com/elixir-lang/emacs-elixir) is probably the culprit rather than alchemist.

[2015-03-31 23:55] rranelli commented on #59
The approach taken by [neotree](http://github.com/jaypei/emacs-neotree) is to use a custom variable for defining the desired keybinding scheme. The user has the option for using a *concise* or a *verbose* set up.

You can see how this is achieved in here:
(https://github.com/jaypei/emacs-neotree/blob/dev/neotree.el#L221)
(https://github.com/jaypei/emacs-neotree/blob/dev/neotree.el#L409)

I think t

[2015-04-01 01:23] jtmoulia commented on #59
Thanks @rranelli -- makes sense!

Two questions:

1. Will the default change from <kbd>C-c a</kbd>, as the manual recommends?
2. Is it better to have a *concise* vs *verbose* setup, or allow the user to specify the alchemist key prefix?

That being said, it looks like there are [two bindings](https://github.com/tonini/alchemist.el/blob/master/alchemist.el#L106) which don't use the common prefix. T

[2015-04-01 01:40] jtmoulia commented on #60
Hey @larshesel, if/when it gets merged, https://github.com/tonini/alchemist.el/issues/58 will allow you to customize the options which are passed to `mix test`:

[code]

A drawback is that unless you make the variable local to the buffer, the change will be global within Emacs. Would this sort of solution work for you?

[2015-04-01 03:24] rranelli commented on #59
I think that `*definition-at-point` (not so sure about `*jump-back`, never used it myself in other modes) is pretty standard for all modes, so I think we should not be concerned with it.

Modes that provide language/context sensitive navigation tend to use the <kbd>M-.</kbd> key. Examples of this are `emacs-lisp-mode` with `find-function-at-point`, Robe for Ruby and Haskell mode.

[2015-04-01 03:31] rranelli commented on #59
I think that adding a key prefix for `alchemist-mode-map` is something called for, whether or not we decide for something like a *concise* vs *verbose* option.

I don't know what to do about the first question. I have very little regard for defaults and recommendations, haha.

[2015-04-01 05:23] jtmoulia commented on #59
awesome, sounds good to me.

I'm trying to think of not so shocking ways to change the prefix -- it'd be nice if there was a way to not change the keybindings if someone is upgrading vs installing it new.

Maybe support both prefixes for a certain number of releases, with an annoying message if the <kbd>C-c a</kbd> prefix is being used without it being explicitly set as the alchemist prefix.

[2015-04-01 08:58] larshesel commented on #60
I think that would be pretty cool. I think for me it would be fine that it's Emacs global. Maybe it would be even better to configure this behavior in mix itself. I'd actually want mix test to, by default, run with --no-start'.

[2015-04-01 16:38] jtmoulia commented on #60
Yup, I agree that being able to configure mix or exunit itself would be excellent -- this would be a good project level config. The [elixir-lang mailing list](https://groups.google.com/forum/#!forum/elixir-lang-talk) might be a good place to ask about that.

Another possible change: if `alchemist-mix-test` is called with a prefix arg, e.g. <kbd>C-u C-c a t</kbd>, prompt the user for the `mix test`

[2015-04-01 16:44] rranelli commented on #60
The [magit](http://github.com/magit/magit) interface is *incredible* for defining command options (things like `-e` trigger the `--no-edit` option). Mimicking magit's interface would be quite nice.

[2015-04-01 18:20] jtmoulia commented on #60
Re the magit interface -- maybe setup a context menu for [discover.el](https://github.com/mickeynp/discover.el) if it's installed. Looks pretty straightforward.

[2015-04-02 08:00] larshesel commented on #60
I've asked about the mix configuration route over on the mailing list: https://groups.google.com/forum/#!topic/elixir-lang-talk/YCWfXQMRL1Y

[2015-04-02 08:13] larshesel commented on #60
And José already solved the problem: https://groups.google.com/d/msg/elixir-lang-talk/YCWfXQMRL1Y/uWuu777cLO4J which is a really good solution for me (the right one IMHO) so I'll close this issue now.

Thanks a lot guys!

[2015-04-02 08:13] #60 closed

[2015-04-03 02:50] jtmoulia commented on #56
Sorry -- scratch what I said. What command are you using for newlines? I found that I was actually using `electric-newline-maybe-indent`. `comint-send-input`, however, works like a charm.

[2015-04-03 06:51] andreas-roehler commented on #56
So do I, after "end" RET, which does comint-send-input. Still hangs...

[2015-04-03 10:59] andreas-roehler commented on #56
BTW: it's the only example bug shows up - commonly iex works well from alchemist.

[2015-04-03 16:21] rranelli commented on #55
@seemsindie Have you figured everything out?

Can this issue be closed?

[2015-04-06 09:24] seemsindie commented on #55
@rranelli Yes, thanks man!

[2015-04-06 09:24] #55 closed

[2015-04-07 05:40] #57 closed

[2015-04-07 07:30] andreas-roehler opened #63 "void alchemist-mode-map"
Debugger entered--Lisp error: (void-variable alchemist-mode-map)

IIUC the reason is defining the menu before  alchemist-mode-map is initialised.

Maybe a (defvar  alchemist-mode-map nil) before solves it.

Resp. start with the map, here an example from python.el

(defvar python-mode-map
  (let ((map (make-sparse-keymap)))
    ;; Movement
    (define-key map [remap backward-sentence] 'python-nav-b

[2015-04-09 22:13] BrianHicks opened #64 "Problems with Plug - but maybe not?"
Hi, I'm an Elixir newbie, using Alchemist. I've run across something that I'm not sure if is a bug in my code, my usage, or alchemist. Since I'm not sure, I've created a minimal project. It's here: https://github.com/BrianHicks/testplug

The problem is: I get an error on the `use Plug.Router` line in `lib/testplug.ex` when compiling with `alchemist-compile-this-buffer`:

[code]

However, the tests

[2015-04-09 22:51] jtmoulia commented on #64
Hey Brian, I think the issue is that `alchemist-compile-this-buffer` will try compile the file independent of the mix project. Without the paths to the compiled files, you get the error you're seeing.

You should have better luck with `alchemist-mix-compile`

[2015-04-10 11:23] BrianHicks commented on #64
hmm, ok. That compiles, but I still get errors in flycheck. Is there a setting for that?

[2015-04-12 04:09] rranelli commented on #36
@fremontmj, were you able to solve your issue with my suggestion?

Can this issue be closed?

Thanks !

[2015-04-13 16:26] fremontmj commented on #36
Sorry, I've been away awhile.  This indeed works, thanks, and the issue can be closed!

Best,

Mike

[2015-04-15 02:00] semanticart opened #66 "alchemist-company prevents other company modes"
I'm fairly new to emacs, so apologies if this isn't terribly descriptive.  I'm on 24.4.91.1 and alchemist-20150407.55 fwiw.

I'm using company mode w/ global-company-mode. My init.el looks something like this

[code]

In non-elixir files, company-mode's company-backends look like this

[code]

These allow completion of keywords, words in open buffers, etc. It is very useful.

When in an elixir fil

[2015-04-15 04:49] rranelli commented on #66
I'm not very familiar with company myself (just switched after a long time with ac-mode) but I will try to take a look at this problem as soon as possible.

[2015-04-15 17:57] jtmoulia commented on #66
@semanticart company-mode should continue to the next backend if the current backend doesn't return a match. So! something is broken. I don't know if it'll matter, but what value do you have `alchemist-project-compile-when-needed` set to?

Hey @rranelli -- I was playing with company-mode the other day and can look into this.

[2015-04-15 18:37] jtmoulia commented on #64
Hey, the flycheck issue you're seeing has the same cause (`elixirc` vs `mix compile`), but is due to code defined [in flycheck](https://github.com/flycheck/flycheck/blob/23606b44c42684ec83bf20e71295ef11f4415c56/flycheck.el#L5626).

@BrianHicks you could report this to [flycheck](https://github.com/flycheck/flycheck/issues/new). I'll bet they've run into similar issues, and can give better advice.

[2015-04-15 18:39] jtmoulia commented on #63
Cool -- was this fixed by #65?

[2015-04-15 18:45] semanticart commented on #66
Thanks, guys. I'm not setting that variable anywhere.

`alchemist-project-compile-when-needed is a variable defined in `alchemist-project.el'.
Its value is nil`

setting it to t does not appear to change anything

[2015-04-15 19:58] rranelli commented on #63
Yes! I could sware I added the "closes" somewhere.

This issue can be closed.

On Wednesday, April 15, 2015, Thomas Moulia <notifications@github.com>
wrote:

[2015-04-16 17:53] jtmoulia commented on #66
Looking through the doc for the `company-backends` var (super useful), turns out I was wrong when I said company-mode should go to the next backend of the current backend doesn't return a match. It looks like company will only go to the next backend if the current backend returns `nil` as the completion prefix.

If it's in an elixir buffer, alchemist's company backend uses `alchemist-help--exp-at-

[2015-04-16 18:11] semanticart commented on #66
Thanks @jtmoulia. I'll probably take the reverse approach and remove alchemist-company from the backend list and invoke it via keypress.

[2015-04-16 18:11] #66 closed

[2015-04-17 06:23] edubkendo opened #67 "Completion breaks with company-yasnippet"
When I add company-yasnippet to my company backends, alchemist completions break but I get Elixir snippets. If I then add alchemist back into the the company backends , if I add it after adding company-yasnippet, it starts working and yasnippets quit getting loaded as a backend, and vice-versa. Basically, I'd like to have both show up in my list of completions, but I can't figure out how.

[2015-04-17 18:01] jtmoulia commented on #67
Hey @edubkendo, have you tried grouping the backends?

Something like:
[code]

Referencing #66 -- maybe this will help.

[2015-04-17 19:44] edubkendo commented on #67
Ah so it looks like what I'm seeing is the result of how company works to some extent, and the fact that these two modes aren't returning nil when they don't have a result. At least that's what I gather from reading #66 .

[2015-04-17 19:55] jtmoulia commented on #67
Yup, but you should be able to group the backends, which is what I was going for in the code snippet above. It's not a general solution to #66, but I think it'll work for you since you want to merge the results from 2 backends.

From the doc for the `company-backends` variable:

One potential issue is that `company-alchemist` and `company-yasnippet` use different functions to get the prefix, so th

[2015-04-17 20:05] edubkendo commented on #67
unfortunately, when I try that, I only see yasnippet results, alchemists stop working.

[2015-04-17 20:10] edubkendo commented on #67
whoops sorry, take that back. it works great the snippet just needs a tweak:

[code]

[2015-04-17 20:10] #67 closed

[2015-04-17 21:01] jtmoulia commented on #67
Ah, my bad -- good to hear it works!

[2015-04-20 04:50] mattly opened #68 "should not auto-compile .exs files"
when `alchemist-project-compile-when-needed` is set, `elixirc` is used to compile the current buffer regardless of if it contains an `.exs` elixir script file or not. Per [the docs](http://elixir-lang.org/getting-started/modules.html#scripted-mode), script files are not meant to be compiled – and in fact, running `elixirc` on them will actually eval them.

Thankfully I discovered this due to exces

[2015-04-20 06:00] mattly commented on #68
Hm, sorry, it turns out my problem was with flycheck, not alchemist, but it appears the compile-when-needed function will still run `.exs` files through `elixirc` which will eval them instead of generating bytecode.

[2015-04-20 14:10] #68 closed

[2015-05-11 05:29] zarkone opened #71 "Go to definition, path to sources"
Hello! Thanks for awesome mode, looks great!
I've got completion working out of the box, just after installing ```company-mode```, but I can't ```M-.``` to the sources of e.g. ```List.flatten```

So, I ```git clone <github elixir repo>``` to ```/usr/local/src/```. What value should I ```set``` to this vars?

Same question for Erlang, I've installed erlang-src  in Debian and found:

[code]

Looks l

[2015-05-15 01:12] leohahn opened #72 "Tab completion inside IEx buffer"
Is it just me or tab completion inside IEx buffer does not work? That is the only problem, right now I am using a normal terminal because of that.

If it is so, is there any work around?

[2015-05-15 11:50] tonini commented on #72
@leohahn at the moment there is no default binding for `company-complete` (alchemist's complete mechanism works with [company](http://company-mode.github.io/))

Maybe we should start thinking about adding `TAB` as default for `company-complete` inside `*Alchemist-IEx*` buffer

[2015-05-15 11:56] tonini commented on #71
Hi @zarkone

The `alchemist-goto-elixir-source-dir` variable should contain a path like the following which holds the elixir src:

![Path to Elixir Source](http://i.imgur.com/NJyi1jR.png)

The `alchemist-goto-erlang-source-dir` variable should contain a path like the following which holds the erlang src:

![Path to Erlang Source](http://i.imgur.com/qUXF7Rj.png)

[2015-05-15 11:57] #63 closed

[2015-05-15 13:08] tonini commented on #72
@leohahn I'm working on an way to enable `company-complete` as default via `\t` / `TAB` https://github.com/tonini/alchemist.el/pull/73

[2015-05-15 15:05] leohahn commented on #72
@tonini thanks for helping.

[2015-05-15 15:05] #72 closed

[2015-05-16 05:45] zarkone commented on #71
Thanks!

[2015-05-16 05:45] #71 closed

[2015-05-16 06:46] #48 closed

[2015-05-16 10:33] tonini commented on #64
@jtmoulia @BrianHicks Whats the status about this issue? I think @jtmoulia was right about the issue here. If you got errors `flycheck` specific, maybe you should talk with the people from the project.

@BrianHicks If you get `flycheck`and `elixir` working nice together inside emacs, please give us a report about it. :)

[2015-05-16 10:49] tonini commented on #56
@andreas-roehler thanks for reporting, this looks really like a bug and I'll try to find the issue.

Thanks @jtmoulia for helping :heart:

[2015-05-16 10:51] tonini commented on #50
@hunterboerner I think I don't understand correctly what you asking. Do you want to use company-mode outside of Elixir specific programming?

[2015-05-16 10:51] #36 closed

[2015-05-16 18:47] hunterboerner commented on #50
Uh, I don't remember what problem I was having with this. Sorry. I'll close the issue.

[2015-05-16 18:47] #50 closed

[2015-05-17 19:34] leohahn opened #76 "Alchemist IEx buffer: clear/0"
Inside the *Alchemist-IEx* buffer:

- the command clear is accepted by the buffer, but it does not clear the screen. I am thinking that maybe it is an issue with shell or eshell? here using clear on shell or eshell does not work, but using inside term and ansi-term works fine.

EDIT

So I realize that you can use erase-buffer inside eshell. So maybe this issue is not that important anymore.

[2015-05-17 19:40] tonini commented on #76
Thats because Alchemist use the comint library to implement a command
interpreter. We could realize a buffer clear function like @bbatsov showed
in this article http://emacsredux.com/blog/2015/01/18/clear-comint-buffers/

Leonardo Hahn <notifications@github.com> schrieb am So., 17. Mai 2015 21:34:

[2015-05-17 19:43] bbatsov commented on #76
That very same function will be in Emacs 25.1, btw.

[2015-05-17 19:44] tonini commented on #76
Thats great to hear, did you contribute that? :)

Bozhidar Batsov <notifications@github.com> schrieb am So., 17. Mai 2015
21:43:

[2015-05-17 19:55] bbatsov commented on #76
Yep. :-)

On 17 May 2015 at 22:44, Samuel Tonini <notifications@github.com> wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2015-05-17 20:26] tonini commented on #76
Congrats :) I'm too afraid to try contribute to emacs, I heard nightmare
stories about it :P

Bozhidar Batsov <notifications@github.com> schrieb am So., 17. Mai 2015
21:55:

[2015-05-17 21:28] leohahn commented on #76
That's nice, thanks for the tip.

[2015-05-20 18:10] tonini commented on #76
@leohahn do you want to implement that for `alchemist-iex`? :) Would be nice, otherwise I'll do it.

[2015-05-20 18:15] tonini commented on #17
@rranelli do you have any recommendations? :)

[2015-05-20 20:44] rranelli commented on #17
I've been using <kbd>C-c ,</kbd> myself, mostly because <kbd>c</kbd> and <kbd>,</kbd> are in opposite sides of the keyboard (for the folks with qwerty at least.)

I don't see much need to change the default prefix as long as the user is able to change it (and yes, my PR is still pending xD)

[2015-05-20 21:54] leohahn commented on #76
I you are in no hurry I can try to do that. But it would maybe take some time because I have no experience in emacs lisp. But I would be glad to help.

[2015-05-21 01:41] rranelli commented on #17
See #77

[2015-05-21 01:47] rranelli opened #78 "Re-run only failed tests"
I think we should definitely implement something in the line of [this pr to rspec-mode](https://github.com/pezra/rspec-mode/pull/122)

[2015-05-22 07:11] tonini commented on #78
Yeah thats a good idea. :)

[2015-05-22 07:12] tonini commented on #76
@leohahn Please go ahead :)

[2015-05-22 07:13] tonini commented on #64
I'll close this issue because it looks like that's an issue with `flycheck`.

Thanks

[2015-05-22 07:13] #64 closed

[2015-05-22 07:14] #59 closed

[2015-05-22 07:15] #33 closed

[2015-05-22 07:16] #17 closed

[2015-05-22 16:11] leohahn commented on #76
@tonini from what I've seen, the function alchemist-iex-clear-buffer is already implemented, which is exactly the comint-clear-buffer. ^^

[2015-05-22 17:23] tonini commented on #76
Oh! :-) maybe we should add the alchemist-mode in the iex buffdf to get all the other keybindings too

[2015-05-22 17:48] leohahn commented on #76
Yeah, for me the mode is really nice right now with the clear-buffer command.
Maybe it would be nice to add a default key binding, something like "C-c a c" or something like it. I didn't do it because I feel that is kind of a design decision, haha

[2015-05-24 19:33] sammyt opened #79 "error when performing a definition lookup"
When I run `alchemist-goto-definition-at-point` I get the following error.

[code]

A bit of searching turned up [some](https://github.com/haskell/haskell-mode/issues/459) [other](https://lists.gnu.org/archive/html/bug-apl/2014-08/msg00104.html) projects seeing the same error

I'm using GNU Emacs 24.5.1

[2015-05-26 07:11] #79 closed

[2015-05-26 07:12] tonini commented on #79
Thanks for reporting :heart:

[2015-05-28 08:36] larshesel opened #83 "Go to definition within file"
In the following example, when point is on the `function(2)` call and I call `alchemist-goto-definition-at-point` (M-.), I get `Don't know how to find: function`

[code]

[2015-05-28 19:12] #83 closed

[2015-05-29 13:04] larshesel opened #87 "Completion throws away module name"
If I enter `Keyword.fetch`and wait a bit, one suggestion is shown `Keyword.fetch!`. If I then press enter or tab `Keyword.fetch` is replaced with only `fetch!` not `Keyword.fetch!` as expected.

[2015-05-29 13:09] tonini commented on #87
Hm, I can't reproduce it.

[2015-05-29 13:13] larshesel commented on #87
I've seen this behaviour before - but it's not presented itself for some weeks now and suddenly showed itself again now. I actually how two emacsen open (different instances) and in one there's this behaviour and the other it's not!

[2015-05-29 14:04] larshesel commented on #87
This might be a company-mode issue - I'll close it for now.

[2015-05-29 14:04] #87 closed

[2015-05-29 15:05] tonini commented on #87
Thanks for the report!

[2015-05-31 09:33] tonini commented on #76
I guess we should come up with kind of a minor mode for the `alchemist-iex` buffer.

[2015-06-01 13:12] tonini commented on #41
@edubkendo whats the status about the usage of `alchemist-help-search-at-point` via `helm`, do you still getting the error `error in process sentinel: Wrong type argument: stringp, nil`?

[2015-06-01 15:24] edubkendo commented on #41
I am, just updated to latest alchemist and gave it a try :(

[2015-06-01 19:53] whatyouhide opened #92 "alchemist-goto-list-symbol-definition tiny bug"
Definitions with a `do...end` or a `do:` are handled perfectly, but bodyless clauses (used for documenting arguments and setting default argument values) cause some problems:

![screen shot 2015-06-01 at 21 48 20](https://cloud.githubusercontent.com/assets/3890250/7921797/359da5ae-08a8-11e5-82cb-c55c63437a93.png)

In the example above, `dgettext/4` is defined as:

[code]

`dngettext/6` is very sim

[2015-06-02 03:34] tonini commented on #92
Thanks for the report, I will work on that that as soon I can. :-)

[2015-06-02 04:53] bhrgunatha opened #93 "No font face colours or company mode help"
Since I updated alchemist last week there are no font face colours being applied.
I have my init.el set to auto load alchemist-mode when I open an .ex or .exs file.

The mode line shows is Elixir, alchemist **and** company, but there are no completions nor suggestions when I type and there are no font face colours. Other modes work fine, and alchemist was working correctly about 2 weeks ago.

When

[2015-06-02 05:01] tonini commented on #93
Hi,

That's sounds really strange. I would like to help you, are you available on irc? Im in the #elixir-lang channel under the nickname **tonini**.

I would like to see your `init.el` file because of your custom alchemist-mode loading (actually alchemist-mode getting loaded by default with elixir-mode)

[2015-06-02 05:09] bhrgunatha commented on #93
I can join irc yes, but for the record all I'm doing in my init.el is:

    ;; Elixir
    (add-to-list 'auto-mode-alist '("\\.ex$"       . alchemist-mode))
    (add-to-list 'auto-mode-alist '("\\.exs$"      . alchemist-mode))

[2015-06-02 05:58] bhrgunatha commented on #93
So thanks to tonini - it seems I had an issue with company mode.

I had:
    (add-hook 'after-init-hook 'global-company-mode)

It seems the combination of company-mode, elixir-mode and alchemist-mode wasn't handled so well by package.el (which is how I installed alchemist)

Now my working solution - thanks to tonini:

I removed these 3 lines:

    (add-hook 'after-init-hook 'global-company-mode)

[2015-06-02 06:01] tonini commented on #93
@bhrgunatha Great! Glad we could fix this. :)

Have fun hacking Elixir :heart:

[2015-06-02 06:01] #93 closed

[2015-06-02 11:40] andreas-roehler opened #94 "Display command and docu in menu"
Consider it helpful, if the real command-name is indicated by menu.
That way user may question C-h f NAME.

Also some docu displayed seems useful.

[2015-06-02 13:25] #92 closed

[2015-06-02 13:34] whatyouhide commented on #92
:+1: awesome, thanks :D

[2015-06-02 15:55] #45 closed

[2015-06-02 15:56] tonini commented on #41
Thanks @edubkendo ! I guess I need to install `helm` and try to find this bug :)

[2015-06-03 09:50] #94 closed

[2015-06-03 17:01] Blackrush opened #97 "Automatically insert "end" when typing "do\n""
One might use snippets instead (that's what I did back on VIM), but automatically closing `do` would apply everywhere else there aren't snippets.

What gets typed

`def start_link do\n|`

What gets inserted

[code]

[2015-06-03 18:52] tonini commented on #97
Thanks for open an issue for that.

I guess there are two good solutions to handle that with [ruby-end-mode](https://github.com/rejeep/ruby-end.el) or [smartparens](https://github.com/Fuco1/smartparens).
https://github.com/elixir-lang/emacs-elixir#notes

[2015-06-03 20:11] rranelli commented on #97
Please, give a go at smartparens.

It is downright amazing. I've switched from a complicated setup using paredit, wrap-region, ruby-end-mode and many more to just smartparens and never looked back since.

[2015-06-04 04:50] tonini commented on #97
@rranelli is right, I'm getting slowly into smartparens but its really create so far.

I tried that yesterday, and so far it looks good.

### Closing pair for `do` `end` example

[code]

[2015-06-05 09:07] tonini commented on #97
I close this one because I think this kind of functionality should belong to the minor modes which does this already :)

Thanks

[2015-06-05 09:07] #97 closed

[2015-06-05 20:04] dsnipe opened #101 "Manual activation of company backend"
It's great plugin and one of the reason why I switched to  Emacs :) Thanks for that!
But one thing is annoying me – company-mode shows only alchemist backend (I think it's related to #66). So my suggestion is not activate backend automatically, but give necessary code in documentation.
At least any suggestions how to disable backend?
I tried add hook where remove that backend, but without succeed.

[2015-06-05 21:05] tonini commented on #101
Hey @dsnipe

Ok I updated on the current master branch `alchemist-company` that the alchemist backend will be added to the `company-backends` variable. https://github.com/tonini/alchemist.el/blob/master/alchemist-company.el#L77

This is the way all company-modes doing it. And it works without any problems. Company-mode uses the next company backends from the list when prefix is nil. In alchemist-c

[2015-06-05 21:37] dsnipe commented on #101
:+1:
Thanks for the fast fix! Now hook works as expected :satisfied:
Good luck!

[2015-06-05 21:37] #101 closed

[2015-06-06 20:39] Blackrush commented on #97
Thanks for your help!

[2015-06-08 22:34] koudelka commented on #42
I'd love to hear more discussion on this. Starting apps for code completion seems like it might be a bad idea.

[2015-06-09 04:21] tonini commented on #42
We're working on Alchemist v1.0 and this will be all fixed when done.

Thanks for your patience and using Alchemist. :heart:

[2015-06-09 22:18] rranelli commented on #42
Maybe looking at projects like `Ensime` that provide badass completion could provide some insight.

[2015-06-10 04:29] tonini commented on #42
Hi,

This issue will be fixed with Alchemist v1.0.0 which will be released in the upcoming weeks.

Alchemist v1.0 will go a different approach and bring kind of a server for each project. This will improve stability and performance. It also won't affect the project you working on in any away.

For example, here is just a little gif where you can see the new doc lookup performance in action:

![Alc

[2015-06-10 16:04] X4lldux commented on #42
Wow! Now that's amazing :heart:
Will it be affected by run time errors in modules?

[2015-06-10 17:13] tonini commented on #42
Not at all, the application will not be started in any kind of situation.

[2015-06-13 14:54] pragdave opened #104 "Should the iex buffer be surfaced when you send a command to it?"
It my iex buffer is hidden, and I use something like C-c a i r, the region is evaluated, but we don't see it because the iex buffer remains hidden.

This is possibly the way it is supposed to be. :)

[2015-06-15 04:43] tonini commented on #104
Hi @pragdave

Thanks for reporting this behavior.

I think this is not the way it suppose to work, I will fix that. ;-)

If you get some spare time, you might have a look at Alchemist v1.0 beta, with the new Alchemist-Server behind it's an amazing experience to work with things like documentation lookup, completion, jump to definition or code inline evaluation.

https://github.com/tonini/alchemist

[2015-06-15 13:25] pragdave commented on #104
I'm using the beta right now. Very impressive. In fact, I'll be using it when I give a talk tomorrow.

Quick question—how do I trigger completion (the equivalent of tab) in alchemist-iex?

[2015-06-15 13:36] tonini commented on #104
@pragdave For completion we need company-mode and I just set `TAB` to the `company-complete` function inside the IEx buffer because people like to bind `TAB` to different things like custom functions which handles indentation too etc.

Here you can see an example of a function which handles indention and completion through one function http://www.emacswiki.org/emacs/CompanyMode#toc9

For myself I

[2015-06-16 08:41] tonini commented on #42
@X4lldux could you please test Alchemist v1.0? I think we could close this issue after that :+1:

[2015-06-16 08:42] tonini commented on #46
@wrachwal Alchemist v1.0 is released and this issue should be fixed with it. Could you please test this case and then close the issue?

[2015-06-16 08:43] tonini commented on #41
@edubkendo hey :)

I'm not sure if the Alchemist v1.0 released fixed this problem, but could you please give it a try?

[2015-06-16 09:14] pragdave opened #105 "Company mode problems"
Trying to use company in iex on -V1.0. As I type, I see

[code]

If I hit tab to get a completion, I see

[code]

I'm sure this must me an issue with the way my emacs is set up, but I'm not sure where to start looking.

Cheers

Dave

[2015-06-16 09:17] tonini commented on #105
Thanks for reporting this.

Do you running the currently master branch? (it's now 1.0.0)

Can I have a look at your Emacs config? maybe a gist from the `init.el` file?

[2015-06-16 09:27] pragdave commented on #105
I just switched to master—same issue.

My emacs config is pretty large. Maybe to start with I can show you the high level stuff related to Elixir:

[code]

[2015-06-16 09:29] tonini commented on #105
@pragdave Ok I think I know what the issue was. I pushed the change to master, please pull and try again.

[2015-06-16 09:47] pragdave commented on #105
You're a STAR! Works wonderfully.

Thanks

[2015-06-16 09:48] tonini commented on #105
Great! :) Happy that it works now!

pragdave <notifications@github.com> schrieb am Di., 16. Juni 2015 11:47:

[2015-06-16 09:52] #105 closed

[2015-06-16 14:30] edubkendo commented on #41
seems to be working now, awesome!

[2015-06-16 14:30] #41 closed

[2015-06-16 15:14] tonini commented on #41
Great! Thanks for testing it! <3

[2015-06-17 20:52] redvers opened #108 "[] Balancing breaks when contents in regex contain a #"
Minimal case:

defmodule Demo do
  def function do
    Regex.match?(~r/[#]/, "hello")
  end
end

Thanks,

Red

[2015-06-17 20:56] tonini commented on #108
Hi @redvers

This isn't a Alchemist issue.

Alchemist brings the Elixir tooling into Emacs, so its a minor mode for Emacs.
For indentation and syntax highlighting is the Elixir-Mode where you can find here https://github.com/elixir-lang/emacs-elixir

Could you please open up an issue about that case on the Elixir-Mode repository?

That would be great!

Thanks

[2015-06-17 21:05] redvers commented on #108
Moved - thanks.

[2015-06-17 21:05] #108 closed

[2015-06-17 21:26] larryweya opened #109 "Cant get alchemist mode to work"
I'm new to both Elixir and Alchemy. I installed Emacs for OSX, added the elpa repo by adding this to my ~/.emacs.d/init.el

[code]

I then installed company followed by alchemist (and got some warnings about the company backend).

[code]

I have an existing project created using mix new. I've tried to load the mix.es file as well as modules in my lib dir but I always have to manually enable alchem

[2015-06-18 04:20] tonini commented on #109
Hi @larryweya

It's seems you have kind of an Emacs/Elixir/Alchemist setup issue.

Let's fix that :+1:

1. Could you please create a https://gist.github.com/ file of you complete emacs config.
2. Which Emacs did you install, I'm wondering because if you have a latest one you don't even have to check in the config about 24 > version to be sure package.el is available. (means less logic in the confi

[2015-06-18 05:54] larryweya commented on #109
@tonini Thanks for getting back to me so fast.

Here is the gist https://gist.github.com/larryweya/60af57fbbdca44ffc46a

I downloaded emacs from http://emacsformacosx.com/ and the version from M-x emacs-version is 24.5.1

My elixir is version 1.0.3 though I wouldnt think this would cause the issue.

[2015-06-18 06:12] tonini commented on #109
@larryweya

Thanks for sending the informations.

Ok, here you have an updated `init.el`

If is not working at the first place, its because you havent installed the company, alchemist or elixir-mode package. So you need to call  the `package-list-packages` function to get a fresh pull from the package repositories (MELPA and MELPA-STABLE) and after that you can `package-install` and install the pa

[2015-06-18 07:11] larryweya commented on #109
@tonini this works, it now enables alchemist mode when I load a file within the project. I had to remove and re-install all the packages since autocomplete still wasnt working (`Company back-end 'alchemist-company' could not be initialized:
Symbol's function definition is void: init`). I used company mode from the stable channel this time.

Thanks for your help and for the tool.

[2015-06-18 07:11] #109 closed

[2015-06-18 07:46] tonini commented on #109
Great! You're welcome. :+1:

[2015-06-18 18:36] tonini commented on #46
I close this issue because v1.0 is released and this kind of bugs can't happen anymore.

Thanks

[2015-06-18 18:36] #46 closed

[2015-06-18 18:36] #42 closed

[2015-06-18 19:51] tonini commented on #76
I added a few useful keybindings to the `alchemist-iex-mode` https://github.com/tonini/alchemist.el/commit/e3d98ff34a0326149b8299bde806bb92d94404a2

/cc @pragdave maybe you find these also useful.

[2015-06-18 19:58] #76 closed

[2015-06-20 15:54] Frost opened #110 "Completion not working"
I have some problems with getting completion to work. Not sure whether it is a problem with alchemist, elixir-mode or company-mode though.

Whenever I believe some autocompletion is supposed to trigger, I see a this message:

     Buffer <whatever file name>.ex has no process

I'm running `GNU Emacs 24.3.1`, not sure if that's related.

Here's the entirety of my `~/.emacs` file:

[code]

`C-h v [R

[2015-06-20 16:36] Frost commented on #110
Upgrading my emacs version helped.

[2015-06-20 16:36] #110 closed

[2015-06-21 17:21] X4lldux commented on #42
Sorry for late response!
It works grate! And I'm impressed that code which is outside `defmodule` block is not executed by the server either - you rock!

[2015-06-27 16:45] Magellanea opened #117 "Company mode doesn't work with alchemist"
I've tried to install the two packages ```elixir-mode``` and ```alchemist``` both from Melpa and manually, however I'm unable to make autocomplete work with company mode as expected.
Whenever I try to make it autocomplete I get the following lines
<code>
Company: An error occurred in auto-begin

Buffer test.exs has no process
</code>

[2015-06-27 16:58] tonini commented on #117
hi @Magellanea

This issue is already know. Please update to at least Emacs version 24.4 to fix the subprocess issue.

Please report if it works for you then.

[2015-06-28 21:56] Magellanea commented on #117
@tonini Done and working perfectly :+1:

Is there's a place to report this as a faq or was there a place I missed from the first place.

[2015-06-28 21:56] #117 closed

[2015-06-29 04:36] tonini commented on #117
@Magellanea glade it works for you now! :+1:

The problem occurred the first time last week and I forgot to mention the dependency on the [README](https://github.com/tonini/alchemist.el#requirements).

Apart from that, you should find all informations on the [README](https://github.com/tonini/alchemist.el)

Cheers

[2015-07-01 18:39] wrachwal opened #123 "Server crash when Emacs run from a desktop (not terminal)"
When I start Emacs from a desktop (Alt+F2 in ubuntu), the alchemist-server crashes on any attempts of its first use (e.g. M-. has no effect on resolvable symbols), and in *alchemist-server* buffers I see the following trace record:

Alchemist has no problems with Emacs started from a terminal (both GUI and textual (-nw)).

I use Elixir built from master branch
* master 09930b5 Set proxy options fo

[2015-07-01 19:02] tonini commented on #123
Hi @wrachwal

Maybe this has something to do with https://github.com/elixir-lang/elixir/issues/3228

Could you please have a look and check this?

Thanks

[2015-07-01 20:15] wrachwal commented on #123
Yes, the stacktrace is identical. Below what I got when running `M-x alchemist-iex-run` (note Erlang is R18.0):

[code]

[2015-07-01 20:42] tonini commented on #123
Hm, maybe there is a path problem.

For example, `alchemist-iex-run` just runs `iex` through `comint`.

So could you please test the start of `iex` for example inside `ansi-term` or `shell`?

The thing is, if you run alchemist in the terminal, it works. If you run it in emacs GUI it won't. So I would say there is a problem with the call of `elixir` command (alchemist server starts with the `elixir

[2015-07-02 08:09] wrachwal commented on #123
No, it's rather not a path problem (note elixir/iex in the stacktrace).

It's not that in GUI it doesn't work; it does but only when GUI Emacs is launched from a terminal (`emacs &`), so the problem has something to do with initialization of the terminal functionality by Emacs process when Emacs program is started from a desktop (via `Alt+F2` shortcut in Ubuntu).

So, only with Emacs started from

[2015-07-03 14:12] wrachwal commented on #123
Hi @tonini

You were right! I had quite old (about which I've quite forgotten) elixir in the path, and Emacs started from a terminal used basically a version built from the _master_ branch. Sorry!

[2015-07-03 14:12] #123 closed

[2015-07-03 14:14] tonini commented on #123
Hi @wrachwal

Thats great, I'm glad that it worked out in the end :+1:

Cheers

[2015-07-11 16:19] Cifer-Y opened #134 "Company didn't work in elixir file"
In my init.el
[code]

It can work well in other file, such as:
![cifer init el emacs today at 00 20](https://cloud.githubusercontent.com/assets/4470516/8634458/e27c71cc-282b-11e5-8332-5cbf11b9ecaf.png)

But in elixir file, no matter if the file is in a mix project , just perform like below:
![123](https://cloud.githubusercontent.com/assets/4470516/8634464/1a04a8c6-282c-11e5-8ccc-b11117e188d5.png)

[2015-07-11 16:53] tonini commented on #134
Hi,

Im currently in the mountains with just mobile internet :-)

But I try my best to help.

First, you don't need to use a hook to initialr alchemist at all. Just the following will work sane:

[code]

Othereise you call `alchemist-mode` twice anf it disable it again.

I hope that helps

Cheers from the top of Switzerland.

[2015-07-12 05:36] Cifer-Y commented on #134
Still not work, I’ll try another solution, and wish you have a nice day :-)

—
Sent from Mailbox

On Sun, Jul 12, 2015 at 12:53 AM, Samuel Tonini <notifications@github.com>
wrote:

[2015-07-12 06:18] tonini commented on #134
Hey

Ok that sounds the the Alchemist-Server doesnt run at all. Please check the
function `list-procesess` after you open an Elixir file and chech if there
is running a Server for the current mix project or an independent server.
When not, then the problem is on another placd than the init setup.

Check the Emacs version, it needs at least 24.4
Check that the correct installed elixir will run insi

[2015-07-12 06:27] Cifer-Y commented on #134
Yes, you are right, when I run `list-processess`, there is no process at all.
And my emacs version is correct, it is 24.5.
But I don't know how to "Check that the correct installed elixir will run inside Emacs, check the
environment variables",  will you do me a favor?

[2015-07-12 06:43] tonini commented on #134
Check in `which elixir` i the terminal and then run `shell-command` with
the same `which` command to see what emacs runs for elixir, is it the same
as in the terminal? Then check the `alchemist-server-command` variable and
run the output in the terminal and you see if the server start or what
error you get.

Cifer-Y <notifications@github.com> schrieb am So., 12. Juli 2015 08:27:

[2015-07-12 06:50] Cifer-Y commented on #134
I run `which elixir` in my terminal I can get ‘/usr/local/bin/elixir’, but in emacs, the result is ‘elixir not found’.And I’m sorry I don’t know how to check the `alchemist-server-command` variable.

—
Sent from Mailbox

On Sun, Jul 12, 2015 at 2:43 PM, Samuel Tonini <notifications@github.com>
wrote:

[2015-07-12 06:54] tonini commented on #134
Ah ok we got the problem, are you using osx?

Cifer-Y <notifications@github.com> schrieb am So., 12. Juli 2015 08:50:

[2015-07-12 06:56] Cifer-Y commented on #134
Yes，I’m using OSX 10.11

—
Sent from Mailbox

On Sun, Jul 12, 2015 at 2:54 PM, Samuel Tonini <notifications@github.com>
wrote:

[2015-07-12 07:39] tonini commented on #134
Please check https://github.com/purcell/exec-path-from-shell :)

Cifer-Y <notifications@github.com> schrieb am So., 12. Juli 2015 08:56:

[2015-07-12 07:40] Cifer-Y commented on #134
Okay, wait for my good news :P

—
Sent from Mailbox

On Sun, Jul 12, 2015 at 3:39 PM, Samuel Tonini <notifications@github.com>
wrote:

[2015-07-12 07:46] Cifer-Y commented on #134
Thank you for you patience, it seems a tiny question, just a path problem. Thank you for your patience again.

[2015-07-12 07:46] #134 closed

[2015-07-12 07:49] tonini commented on #134
Great, Im glad it works now. Have fun :-)

Cifer-Y <notifications@github.com> schrieb am So., 12. Juli 2015 09:46:

[2015-07-12 11:32] Cifer-Y commented on #134
Excuse me, I have a little question.

`(setq alchemist-goto-elixir-source-dir "/path/to/elixir/source/“)`
How can I find the elixir source dir ?

—
Sent from Mailbox

On Sun, Jul 12, 2015 at 3:49 PM, Samuel Tonini <notifications@github.com>
wrote:

[2015-07-12 12:52] whatyouhide commented on #134
Hey @Cifer-Y, maybe this issue isn't the best place to ask questions unrelated with it. You're welcome to open another issue, but for questions you're more than welcome on IRC (#elixir-lang and #emacs-elixir) or in the #emacs Slack channel (https://elixir-slackin.herokuapp.com). Thanks :)

[2015-07-12 13:10] tonini commented on #134
If you're using homebrew the source is automaticly deleted after installing
elixir and erlang, so you need to download thr source to a separate place
on your system and add the path to the variable. In linux for example I
dont need to do this becausd I compile elixir and erlang by hand.

Andrea Leopardi <notifications@github.com> schrieb am So., 12. Juli 2015
14:52:

[2015-07-12 13:35] Cifer-Y commented on #134
Okay，I got it, thank you very much for your advice

On Sun, Jul 12, 2015 at 20:52 Andrea Leopardi <notifications@github.com>
wrote:

--
Cifer

[2015-07-13 11:18] chrismcg opened #137 "Only show test buffer if tests fail when `alchemist-hooks-test-on-save t`"
So that you don't have to keep closing the window when all is green as you can see that from the modeline.

[2015-07-13 15:28] jtmoulia commented on #51
<3 #131

[2015-07-13 15:28] #51 closed

[2015-07-16 06:03] tonini opened #139 "v1.3.0 Release TODO"
#### Checklist for v1.3.0 release

- [x] Refactoring / refining of `alchemist-server.el`
- [x] Refining of `alchemist-report.el` (add missing comments for functions and variables)
- [x] Refactor `alchemist-mix.el` (what's about interactive functions without key binding, since `alchemist-mix` speedup are they even useful?)
- [x] Use `declare-function` just with `eval-when-compile` (package wide)
-

[2015-07-20 07:58] #139 closed

[2015-07-20 23:50] hectoregm opened #142 "Failure to initialize company-backend"
When I try to start the company backend

Company back-end 'alchemist-company' could not be initialized:
Wrong type argument: stringp, (:eval (propertize "Elixir" (quote face) alchemist-test--mode-name-face))

Stacktrace

[code]

[2015-07-21 02:01] hectoregm commented on #142
Fixed when I installed elixir-mode, maybe add it to the installation notes ?

[2015-07-21 04:32] tonini commented on #142
hi @hectoregm

You never have to `(require 'alchemist-company)` by hand. Like you see it in the [Installation](https://github.com/tonini/alchemist.el#installation) section, just `(require 'alchemist)` and everything will be loaded. You can't just require different parts of the codebase of Alchemist.

About the `elixir-mode` installation, `elixir-mode` is the Elixir language major mode for Emacs an

[2015-07-23 20:59] hectoregm commented on #142
Well I didn't do it by hand but when loading the alchemist mode with M-x alchemist-mode given i didn't have elixir-mode at first. I think a minor note about needing elixir-mode will be of help because at least for me I thought that getting alchemist-mdoe through MELPA was going to bring along elixir-mode.

[2015-07-24 21:08] diogovk opened #145 "Clarification in readme"
As a new user to emacs, I was confused by why wansn't alchemist working in my setup.
I installed it using package-install, but after restarting emacs alchemist commands were not being recognized.
Turns out you have to `(require 'alchemist)`, which is an instruction which is in the topic "Manual installation".
I'm pretty sure that step is necessary for automatic installation as well.

Or am I mista

[2015-07-24 21:21] tonini commented on #145
Hi @diogovk

If you installed `Alchemist` with `package-install` it will be loaded at Emacs startup. That's how `package.el` works by default. But if you have the variable `package-enable-at-startup` set to `nil` that won't happen and you need to `(require 'alchemist)` manual by hand.

Did you try to call `Alchemist` functions inside an Elixir file? `Alchemist` mode will just be enabled inside Eli

[2015-07-24 21:47] diogovk commented on #145
That's weird I've just commented and it stopped working again. (`C-c a is undefined` while editing .exs file).
I checked with C-h v and it tells me that "Its value is t" for package-enable-at-startup.

This is my .emacsrc:

[code]
I think I know what happened. I didn't install using `package-install` but `package-list-packages`.
I think installing this way requires that I enable manually.

[2015-07-25 16:40] tonini commented on #142
Please give it another try, I added `elixir-mode` as Package-Dependency. Now you just need to `(require 'alchemist)` and don't have to know anything about `elixir-mode`.

[2015-07-27 12:04] #145 closed

[2015-07-28 04:41] tonini opened #149 "v1.4.0 Release TODO"
## Checklist for v1.4.0 release

- [x]  Refactoring / refining of `alchemist-server.el`.
- [x] `alchemist-help` should handle context based search for help.
- [x] `alchemist-report` ability to run in background. (popup when failed)
- [x] Add missing documentation for `alchemist elixir server`.
- [x] Add render functions to `alchemist-execute`, which calls `alchemist-report-run`.
- [x] Handle excep

[2015-07-29 16:15] michalmuskala opened #151 "Hide compile messages in test output"
As we talked on irc:

Running tests in macro-heavy projects (I'm looking at you, Ecto) may force huge recompiles with every change. The test output consists mainly of the compile messages in that case. I think it would be great if we could hide them.

Example output:
[code]

[2015-07-30 04:29] tonini commented on #151
Thanks for reporting this. :+1:

Its in https://github.com/tonini/alchemist.el/commit/512d7fcaee43277b7631acc889b09637ae041f88 on master now!.

[2015-07-30 04:29] #151 closed

[2015-08-09 04:56] hunterboerner commented on #78
This is a great idea!

[2015-08-09 06:21] tonini commented on #78
We already talked with Jose about that, because we need to update `ExUnit` itself for that. Currently there isn't support to run multiple files and locations like `mix test one_test.exs:10 two_test.exs.25`.

I will infesting some time into it in the next few days If I get some free time.

Thanks

[2015-08-10 09:02] tonini commented on #142
I will close this issue because now `Alchemist` depends on `elixir-mode` inside the `Package-Dependencies` and that get handled by `package.el` by itself.

So if you install just `Alchemist`, `elixir-mode` will get installed too if not already available.

Thanks for the report.

[2015-08-10 09:02] #142 closed

[2015-08-10 09:06] tonini commented on #104
Hi @pragdave

I realized that this issue was about something other than the completion stuff, so I try to respond to the first question you had. :-)

Currently thats how it works:

The function `alchemist-iex-send-region` just the marked region to the IEx process.
On the other hand, the function `alchemist-iex-send-region-and-go` sends the marked region to the inferior IEx process and jump to the

[2015-08-11 06:50] #149 closed

[2015-08-11 07:23] tonini commented on #137
It's fixed in `v1.4.0`

[2015-08-11 07:23] #137 closed

[2015-08-12 14:06] tonini commented on #104
Hi @pragdave

I had a look at some other `inf-mode` like for `ruby`, `haskell`, `clojure` etc and now I remember why I implemented it the way it currently works.

If you would like that the `IEx` buffer will popup after you send an expression, you need to use the `-and-go` function implementations like `alchemist-iex-send-region-and-go`.

Could you work with that? :)

[2015-08-12 14:07] pragdave commented on #104
I suppose. I just can't think of a case where I wouldn't want it to.... :)

On Wed, Aug 12, 2015, 09:06 Samuel Tonini <notifications@github.com> wrote:

[2015-08-13 16:53] #104 closed

[2015-08-24 05:07] tonini opened #158 "Release v1.6.0"
Release TODO list for v1.6.0

- [ ] Dialyzer support
- [ ] Erlang help lookup
- [ ] Emacs Alchemist documentation manual
- [ ] Online Documentation
- [ ] ...

These are a few of the milestones for the Alchemist v1.6.0 release.
Any kind of feature requests or ideas can be added as a comment in this issue.

Feel free to speak your mind. :smile:

[2015-08-25 14:39] rizafahmi opened #159 "alchemist-20150820.941.tar: Not found"
Trying to install throug package-install, but got an error: `http://melpa.org/packages/alchemist-20150820.941.tar: Not found `

[2015-08-25 14:44] tonini commented on #159
Hi,

It looks like you have an old package cache. Please call `package-list-packages` which fetches the last builds and you should get `MELPA Alchemist 20150824.223`.

[2015-08-26 08:59] manukall opened #160 "alchemist-iex-send-region raises syntax error when region spans multiple lines"
example:
when i select the following and sent that to iex
[code]
the result is
[code]

[2015-08-26 09:03] tonini commented on #160
Thanks for the report. :+1:

[2015-08-27 06:12] zhongwencool commented on #159
@tonini  it worked!!!

[2015-08-27 06:31] tonini commented on #159
great! :+1:

I close this issue now.

[2015-08-27 06:31] #159 closed

[2015-08-27 11:55] henrythebuilder opened #161 "Alchemist 20150826.817 + Elixir 1.1.0-dev: SyntaxError in alchemist-server"
Hi,
Using Alchemist 20150826.817 (with Elixir 1.1.0-dev), when starting *alchemist-mode*, *alchemist-server* buffer report a syntax error:

[code]
Following the message I try to change the line 16 in *source.exs* from
 ```module = Enum.filter(imports, &Informant.has_function? &1, function)```
to
``` module = Enum.filter(imports, &Informant.has_function?(&1, function))```

and it seem to work.
Is i

[2015-08-27 12:08] tonini commented on #161
Hi @henrythebuilder

Thanks a lot for finding this issue.

I updated the `server.exs` with your solution. -> https://github.com/tonini/alchemist.el/commit/61f9b196c945b8eba013fd2c3469ef1913c67de4

You need to wait until http://melpa.org/ built the actual master as a package until you can `package-install` the fixed version.

Or you just clone the Alchemist repository and add it to the emacs load p

[2015-08-27 12:36] rizafahmi commented on #159
Yes, it works!

[2015-08-28 09:49] henrythebuilder commented on #161
Thanks for update,
I just updated to Alchemist 20150827.503 with no problem :thumbsup:

[2015-08-29 07:50] tonini commented on #161
Great! Thanks a lot for the report :-) :heart:

[2015-08-29 07:50] #161 closed

[2015-09-09 16:30] hunterboerner opened #163 ""No test file found; create new one?" in Phoenix project."
In Phoenix projects, the code is stored under the `web` directory. Even if I have a test file for a controller, typing `C-c a p o` will ask me if I want to create a new test file. If I say yes, it creates the file in the same directory that the controller file is in. Is this due to Phoenix code going in `web`?

[2015-09-09 16:35] tonini commented on #163
Hi,

Yes we're aware of this problem. Currently we have no `Phoenix` support in case of the `web` directory but I'm working on the `alchemist-project` refining which should also bring support for `Phoenix` directory structure.

Thanks

[2015-09-11 15:24] jjbohn opened #164 "Elixir.Logger.ErrorHandler crashing when running tests in Elixir 1.1.0-beta"
I'm getting the following error report when executing `alchemist-mix-test` with elixir 1.1.0-beta:

[code]

If I just run mix test from a terminal, I'm not getting this so my first thought was that it could be an alchemist issue.

[2015-09-11 15:38] jjbohn commented on #164
Just realized I'm getting this with `alchemist-mix-run` as well, but not `alchemist-iex-project-run` fwiw

[2015-09-12 10:56] tonini commented on #164
Hi @jjbohn

It looks like you have an issue with wrong `PATH` information inside Emacs.

Alchemist does nothing fancy when using `mix test` for example, It just executes the shell command.

If you're using OSX I recommend using this package https://github.com/purcell/exec-path-from-shell which make Emacs uses the `$PATH` setup by the user's shell.

[2015-09-16 09:48] Jansemon opened #166 "Symbol's function definition is void: alchemist-compile*"
I installed all necessary packages and everything seems to work - e.g. auto completion, iex, switching between source and test source... although I need to enable company-mode manually, even when alchemist is loaded.

But the alchemist-compile functions all raise above mentioned error. I tried the packages from MELPA and MELPA STABLE, but to no avail.

I'm using emacs 24.5.1 and elixir 1.0.5.

My

[2015-09-16 10:26] gausby commented on #166
Hi. I think that this issue was solved yesterday, but it might not be on melpa stable yet:

https://github.com/tonini/alchemist.el/commit/2ec05caa8d0e3b8e886c4dc5daf23b3ed3303b9b

[2015-09-16 11:15] Jansemon commented on #166
Hm... ok, I will try again with the one from MELPA, since I think I tried the non-stable version sometimes yesterday....

[2015-09-16 11:20] gausby commented on #166
:)

I don't know if it will solve the problem, but you could try patching it temporary by executing:
[code]
After you have required alchemist.

[2015-09-16 11:24] Jansemon commented on #166
ok, thanks a lot... the non-stable seems to have fixed it and your solution helps as well. :)

[2015-09-16 11:24] #166 closed

[2015-09-16 18:20] tonini commented on #166
Hey @Jansemon

As @gausby already mentioned, the fix was merged yesterday but just on master and MELPA. So I didn't release a patch version so far, sorry for that. :)

Thanks for your appreciation.

[2015-09-17 17:59] jjbohn commented on #164
Hey @tonini thanks. Funny thing happened. I used to have that, then recently wiped some changes in my config and lost that in the process :smile:. Good times, haha. Thanks for taking the time

[2015-09-17 18:26] tonini commented on #164
Great! I'm glad it worked in the end. :smile:

Cheers

[2015-09-17 18:26] #164 closed

[2015-09-24 08:09] andreas-roehler opened #168 "void-variable alchemist-project-compile-when-needed"
Accessing the menu results in:

Debugger entered--Lisp error: (void-variable alchemist-project-compile-when-needed)

;;;;;;

at

commit e51a2670d8c5b7f46b10d9b333f1263df630bc92
Author: Samuel Tonini <tonini.samuel@gmail.com>
Date:   Sat Sep 19 19:26:32 2015 +0200

    Increase readability with assignment in param area

[2015-09-24 08:14] tonini commented on #168
Hi @andreas-roehler

Thanks for the report! It's fixed on master now. https://github.com/tonini/alchemist.el/commit/3f1bf0d24f3a8c3a08ce9713c970d0b118d71482

:+1:

Cheers

[2015-09-24 08:14] #168 closed

[2015-10-02 12:52] Immortalin opened #171 "Lack of autocompletion and parenthesis completion in REPL"
Can autocompletion and parenthesis completion be added for the REPL?

[2015-10-02 13:07] tonini commented on #171
Hi @Immortalin

What do you mean with lack of autocompletion in `REPL`? Do you mean inside an `alchemist-iex-run` created buffer? The completion is activated by default for this kind of buffer with alchemist, if not there might be an issue within your emacs config. Could you post a gists with your Emacs/Elixir config?

Parenthesis completion is a Emacs related thing, you might want to use somethin

[2015-10-02 14:24] Immortalin commented on #171
I am using the elixir configuration layer from spacemacs

[2015-10-02 14:24] Immortalin commented on #171
zohaib.me/spacemacs-and-alchemist-to-make-elixir-of-immortality/

[2015-10-02 14:55] tonini commented on #171
@Immortalin as I can see in the article it's enables the `company-mode` just inside the `alchemist-mode` maybe make it global or ask in the emacs slackIO channel, there are many spacemacs users around.

[2015-10-03 03:48] Immortalin commented on #171
Thanks for your help!

[2015-10-03 04:31] #171 closed

[2015-10-03 20:01] zabirauf commented on #171
@Immortalin to enable company-mode globaly replace `(add-hook 'alchemist-mode-hook 'company-mode)` with `(global-company-mode)` and then reload the config `SPC f e R` and you should now have elixir auto completion in IEx buffer as well.

[2015-10-04 13:26] Immortalin commented on #171
@zabirauf thanks!

[2015-10-05 18:45] rogergl opened #172 "Lookup does not work if alias is used"
I could jump  to registration_changeset (M-.) if no alias is used ( MyProject.User.registration_changeset) but not to  User.registration_changeset
if I used "alias MyProject.User".

[2015-10-05 18:54] rogergl opened #173 "show alchemist-goto-list-symbol-definitions in ido buffer ?"
Is it possible to use the result from e.g. alchemist-goto-list-symbol-definitions  in an ido buffer ?  Right now I have to press C-,., 2 times tab and then select the function.

[2015-10-06 05:46] tonini commented on #173
@rogergl I think I don't understand exactly what you mean. If you use something like `(ido-everywhere 1)` already, then it uses the `ido-completing-read` instead the `completing-read`.

This sounds like something with your Emacs config is not right, the `alchemist-goto-list-symbol-definitions` function simple delivers the matches via the `completing-read`. If you use something like `helm` or `ido-

[2015-10-06 05:51] tonini commented on #172
@rogergl I need to see the code for this to get idea what the issue could be.

Could you push the source to Github so I could have a look?

Thanks for reporting! :+1:

[2015-10-06 06:08] rogergl commented on #173
Thats not how it is working here. I tested with a clean .emacs filed, removed all the packages and just installed alchemist and enabled ido mode.

[2015-10-06 06:19] tonini commented on #173
How it works then for you? I need a detailed description how it works and
looks in the end, maybe screenshots or animated GIF's that would be great!
:)

Roger Gilliar <notifications@github.com> schrieb am Di., 6. Okt. 2015 08:08:

[2015-10-06 06:32] rogergl commented on #173
![Image of Selection](http://www.gfycat.com/PessimisticImpracticalCanine)

[2015-10-06 06:49] tonini commented on #173
@rogergl Ah I see.

If you would like to have the same behavior as in the GIF above you need to do the following:

* `(ido-everywhere 1)`
* install the package [ido-vertical-mode](https://github.com/creichert/ido-vertical-mode.el) or implement the vertical listing by [yourself](http://emacswiki.org/emacs/InteractivelyDoThings#toc23)

Then it should work as expected.

Most of the Alchemist users wo

[2015-10-06 06:53] rogergl commented on #173
ido-vertical mode was installed and  ido-everywhere  was enabled.

[2015-10-06 06:59] rogergl commented on #173
It is almost working if helm is installed. The only problem is that the helm window isn't displayed below the source.  But that is probably just a missing helm config.
![sc](https://cloud.githubusercontent.com/assets/98088/10302018/8145ae98-6c08-11e5-9142-4c8905c9be06.png)

[2015-10-06 07:04] tonini commented on #173
Yes you need to setup the `helm ` buffer appearance in the config.

About the `ido` part, did you setup it correct as mentioned in the readme?

[code]

Sorry for being that fussy, I just wondering what it can be. :smile:

[2015-10-06 07:15] rogergl commented on #173
Yes that's how i configured ido mode.

[2015-10-06 11:41] tonini commented on #173
@rogergl Ok, then it might be an Emacs setup problem, because all what `alchemist-goto-list-symbol-definitions` does in the end is call `completing-read`. I can't help you with my `ido-mode` knowledge at this point, you need to have a look at the [EmacsWiki](https://www.google.ch/search?q=emacswiki+ido-mode&oq=emacswiki+ido-mode&aqs=chrome..69i57j69i65l3j69i60l2.2423j0j7&sourceid=chrome&es_sm=91&i

[2015-10-06 11:43] rogergl commented on #173
Thanks for the help, but I think I'll continue using helm.

[2015-10-06 11:44] rogergl opened #174 "How to ignore files ?"
I want to ignore certain files from appearing in e.g. the alchemist-project-find-models result list. I suppose I have to configure  helm to do so:

      helm-ff-skip-boring-files t
      helm-skip-boring-files t
      helm-boring-file-regexp-list '("\\.git$" "\\.hg$" "\\.svn$" "\\.CVS$" "\\._darcs$" "\\.la$" "\\.o$" "\\~$"
                                     "~$" "#.*#$"  "\\.so$" "\\.a$" "\\.el

[2015-10-06 11:56] tonini commented on #174
@rogergl `alchemist-project-find-models` is not `helm` related and will just list all files inside `web/models`. The new list features are just on master available and might change into a specific `alchemist-phoenix` mode until release v1.6.0. We could rather just list `*.exs?` files or introduce a ignore variable which take care what should be left out of the listing.

[2015-10-06 11:57] tonini commented on #173
You're welcome.

[2015-10-06 11:57] #173 closed

[2015-10-06 12:22] rogergl commented on #174
I would prefer an ignore variable..

[2015-10-06 13:08] rogergl commented on #172
Just trying to come up with a test case but I can no longer reproduce this problem.

[2015-10-08 19:27] rogergl commented on #172
My assumption about the alias was wrong. Given the following source, looking up User.changeset works, looking up Rumble.Auth.login doesn't.
[code]

[2015-10-09 08:43] tonini commented on #172
To search for the issue here I really need the codebase, without there is no way to locate the issue. Could you push the source on Github?

Btw, you need to be sure that the codebase is compiled, without the proper `BEAM` files `Alchemist` can't find the source of the expression you try to jump to (`Rumble.Auth.login`). So be sure you compiled your `Mix` project.

And as I already mentioned, if it

[2015-10-09 18:36] rogergl commented on #172
Thanks for the help. I run sex -S mix to create the beam files and now M-. works.

[2015-10-09 21:45] tonini commented on #172
@rogergl Great to hear that it works in the end. :+1:

[2015-10-09 21:45] #172 closed

[2015-10-16 07:26] tonini commented on #163
@hunterboerner The `alchemist-phoenix-mode` is now implemented on master (https://github.com/tonini/alchemist.el/pull/175) and handles this cases.

Thanks for the report

[2015-10-16 07:26] #163 closed

[2015-10-16 13:28] hunterboerner commented on #163
Thank you!

[2015-10-20 08:55] tonini opened #178 "Create a two page refcard"

[2015-10-20 10:03] gausby commented on #178
Is this the pdf?

…will it eventually turn into a book? :)

[2015-10-20 10:08] tonini commented on #178
Haha I hope not!

Martin Gausby <notifications@github.com> schrieb am Di., 20. Okt. 2015
12:03:

[2015-10-21 05:35] tonini opened #179 "Handle Phoenix related <APP>.Web definition lookup"
Phoenix recently changes his way how it's imports code. The solution is really nice, Alchemist can't handle the definition lookup for things like `plug` and `pipeline` anymore though.

I'll try to extend the alias fetching in combination if there is currently a Phoenix app available.

[2015-10-21 05:41] tonini opened #180 "Extend Emacs inline Refacard with new Macroexpand keybindings"

[2015-10-21 19:28] lexmag opened #181 "Autocomplete takes precedence over `end` keyword"
As you see on the following screenshot it's natural to type \<tab\> in order to make indentation but currently it turns into autocompletion.

<img width="184" alt="screen shot 2015-10-21 at 21 21 30" src="https://cloud.githubusercontent.com/assets/248290/10647645/d338612c-7839-11e5-94d0-690dd5b2e48d.png">

It's getting really annoying as `cond`, `case`, `def`, etc. (pretty much everything) ends wi

[2015-10-22 05:23] tonini commented on #181
Hi @lexmag

Alchemist use [company-mode](http://company-mode.github.io/) library to deliver the completion candidates to the `GUI`. The problem you're experienced about that things like `ends_with?` will always try to complete it's because your `company-idle-delay` time is set to `0.3` currently and after that time it tries to complete what it has available, in this case `ends_with?`.

I don't lik

[2015-10-22 05:26] tonini commented on #181
It looks like I found an issue about the case you reported.

Besides all I said, there is the case which removes the current prefix from the completion candidates list.
Thats why it overwrites fro examples your `end` into `ends_with?` and that's really a bug. :+1:

Thanks a lot for this report, I will fix it as soon as possible.

[2015-10-22 09:08] lexmag commented on #181
Hey @tonini, thank you for such an informative reply. I'll try to adjust my company-mode settings.

Let me know if you need any help on this. :smile:

Is there any open issues about it?

[2015-10-27 08:29] tonini commented on #181
Morning @lexmag

Not so far, I will tag you on the [Alchemist-Server](https://github.com/tonini/alchemist-server) when I open an issue about that theme.

I had a look at `company-mode` and the behavior of Alchemist's completion in situations where you just have one candidate, like you mentioned above with `[end]s_with?`.

I tried to add the current prefix (in that case `end`) to the completion can

[2015-10-27 10:17] lexmag commented on #181
Morning @tonini, that sounds great, I'm eager to try it in a real workflow. :smile:
Thank you for fixing this.

[2015-10-27 21:31] tonini commented on #181
@lexmag It's now available on [master](https://github.com/tonini/alchemist.el/commit/6bce8673693f79d7b2011d386e39347d32d8132e)

If you want to update it with `list-packages` you need to wait until [MELPA](https://melpa.org/#/) built the latest package from master.

[2015-10-28 05:51] #180 closed

[2015-10-31 06:48] tonini commented on #181
@lexmag did you had the time to test it?

[2015-10-31 10:29] lexmag commented on #181
@tonini yes, I've spent one working day with this change, and, in overall, it feels like a better experience then was previously.

[2015-10-31 10:55] tonini commented on #181
great! :)

Btw, maybe you should have a look at a few `company-mode` custom variables which maybe will increase your workflow even more. For example `company-minimum-prefix-length` I have it on `4` so I won't get any completion on things like `do` and `end` expect when I call `company-complete` explicit.

There are a few other variables you might should have a look at it.

I close this issue for n

[2015-10-31 10:55] #181 closed

[2015-11-03 06:37] tonini opened #183 "Run latest cached test run"
**From irc**

@gausby: I think: standing in the test code, go to the test case; execute command that will pin the test at point; go to implementation file, run pinned-test-command; it will execute the pinned test only.

I like the idea and I know from my workflow that these is a nice behaviour. I wrote a package to handle these kind of case independent from the language. https://github.com/tonini/

[2015-11-03 09:52] gausby commented on #183
Oh. I can actually get the behaviour I am asking for by running `C-c a r` (`alchemist-mix-rerun-last-test`). I didn't know that. That is great.

I guess changing the behaviour of run test cases to rerun last cached test would cause some confusion. How do I get back to running the entire test suit when I've run a focused test in a test file? I think `C-c a r`/`C-c a t` solves this problem. :)

[2015-11-03 13:45] tonini commented on #183
@gausby Actually we wouldn't cache run whole test suite run. We just would run the cached `alchemist-mix-test-this-buffer` and `alchemist-mix-test-at-point` if we outside a test file and in the same mix project. Otherwise when we run `alchemist-mix-test` (the whole test suite) we wouldn't run any cached test at all.

[2015-11-03 14:29] tonini opened #184 "Definition listing format"
[code]

[2015-11-04 11:19] whatyouhide commented on #183
Hey there folks, sorry for the late response. I *constantly* use `SPC t r` which for me is bound to `alchemist-mix-rerun-last-test` which is an ABSOLUTELY GREAT FEATURE (I implemented it IIRC :monkey: :smile:). So my workflow is: I write a test, I run it (with the thing that runs the test at point, I don't remember the name) and then I go write the implementation and run `SPC t r` to rerun the tes

[2015-11-12 03:01] 7er opened #185 "problem using alchemist mode in mix umbrella project"
I have an mix umbrella project with a couple of apps. A lot of the alchemist features doesn't work too well because the current project is seen to be the umbrella. Is it possible to select one of the apps as the current alchemist project instead?

[2015-11-12 08:40] tonini commented on #185
Hi @7er

I'm not that experienced with how umbrella projects are structured, do you have a example codebase where I can have a look at it. I guss becaue Alchemist needs to have a proper mix project root to work correct. As you already mentioned it might work well with the selected apps inside a umbrella project because these are mix based.

But I will have a look at this one and it would be great

[2015-11-12 13:59] 7er commented on #185
Absolutely: https://github.com/7er/kv_umbrella

Structure overview:
[code]

PS: I've experimented a little more, and it seems that if I the first file I open is inside apps/kv_api, then the context for alchemist will be kv_api and everything will work ok. Maybe the only problem is that alchemist will not change context when it has selected kv_umbrella as the project and I visit a file lower in the

[2015-11-12 15:10] 7er commented on #185
Actually I think letting me select which mix project I want to be in the context of, would be the only workable solution as alchemist couldn't possibly know (without reading my mind) if I wanted to be in the umbrella or a sub-project for a certain operation.

[2015-11-12 15:19] gausby commented on #185
Could we use ctrl-u for when you want to execute commands against the umbrella, and without for when you want the current sub project you are in?

[2015-11-12 15:55] tonini commented on #185
The problem is that we have no way to check if we're in an umbrella project and the sub mix projects are just mix projects there is no evidance about that's a sub project. Hex packages for example have a  `.hex` file which makes it easy to identify if were inside an hex package.

About the idea to make it always selectable in which context alchemist functionality would be executed is not a good id

[2015-11-12 21:50] davoclavo opened #186 "Truncate lines by default on the test report buffer"
Running on `Alchemist 1.6.0`

The test report buffer does not truncate lines (word wrapping). Per recommendation from @tonini, running `toggle-truncate-lines` works, but I think this should be the default behavior, as it is very useful to debug why tests are failing.

[2015-11-13 05:15] davoclavo commented on #186
Sorry, I got the term wrong. Currently, it truncates lines, but it should not truncate them.

[2015-11-19 13:05] bordeltabernacle opened #187 "Code.LoadError in Spacemacs"
Not sure if this is an Alchemist problem or not.
I have a `word_count.exs` file and a `word_count_test.exs` file. Within the test file the exercise file is loaded:

[code]

To run this test file I would do `SPC m x f` and choose the file, no worries.

For some reason, today when I do it I get the following error:

[code]

My `.spacemacs` is [here](https://github.com/bordeltabernacle/dotfiles/blob/

[2015-11-19 13:07] bordeltabernacle commented on #187
Actually, it looks like this is an Elixir issue as I get the same error when running the file in iex. Sorry.

[2015-11-19 13:07] #187 closed

[2015-11-20 09:37] tonini commented on #187
Hi @bordeltabernacle

I hope you found the issue. Thanks for reporting :)

Cheers

[2015-11-20 12:25] bordeltabernacle commented on #187
hi @tonini, thanks.  It seems to have disappeared now, so I'm putting it down to the Linux Gremlins!

Alchemist is a beautiful thing btw, thankyou for building it. :+1:

[2015-11-23 19:47] evanson opened #189 "Auto-Completion not working"
Hi,

I installed alchemist manually and auto-completion is not working.

Am also getting this error in the *alchemist-server* buffer:
** (SyntaxError) /home/evanson/.emacs.d/vendor/alchemist.el/alchemist-server/lib/api/docl.exs:30: an expression is required on the right side of ->. Syntax error after: '->'
    (elixir) lib/code.ex:363: Code.require_file/2
    /home/evanson/.emacs.d/vendor/alchemis

[2015-11-23 19:54] lexmag commented on #189
I assume you are running on Elixir master, as since next version the `->` with an empty right-hand side will throw an error.
The following line https://github.com/tonini/alchemist.el/blob/master/alchemist-server/lib/api/docl.exs#L30 triggers it to happen.

[2015-11-23 20:06] evanson commented on #189
Yes indeed, am running on master.

[2015-11-23 21:09] tonini commented on #189
Thanks @evanson for the report and @lexmag for the information about the changes on master. I' ll will update asap.

Cheers

[2015-11-24 06:33] tonini commented on #189
Good morning @evanson

The issue is fixed on master now https://github.com/tonini/alchemist.el/commit/a812494b6c3d18c2a9ed980f3bc1414b5d509862

You might want to wait until [MELPA](https://melpa.org/) build the latest Alchemist package from the master branch if you using `M-x package-install` (Emacs package manager `package.el`) to install Alchemist. Otherwise just pull the master branch and you s

[2015-11-24 06:48] evanson commented on #189
Morning @tonini,

Thanks! It's now working.

Onto some elixir hacking now!

[2015-11-24 06:48] #189 closed

[2015-11-25 22:07] rranelli commented on #78
@tonini ping.

Have something changed in this regard? If yes I would like to attack this issue

[2015-11-30 10:41] Cifer-Y opened #190 "How to turn the page of document buffer?"
for example the function: Kernel.SpecialForm.quote. It's doc is a very long page, how can I scroll the page down?
![emacs z local emacs today at 18 37](https://cloud.githubusercontent.com/assets/4470516/11469536/f97c5a42-9791-11e5-9c89-09608e66a2c7.png)

[2015-12-01 05:44] tonini commented on #78
Hi @rranelli

Thanks for getting back to this issue.

Currently we have `alchemist-mix-rerun-last-test`, as the name of the function already says it just runs your last test run.

But to implement a function which just runs the latest failed tests we need to extend `ExUnit` by itself. Jose already mentioned that it would be welcome if someone add multiple `mix file:12 file_2:33` functionality to `

[2015-12-08 17:09] timbuchwaldt opened #192 "Auto-reload current module in IEx"
I was just playing around with the IEx integration and used the reload-feature IEx provides (`r(MyModule)`) and I wondered... wouldn't it be possible to reload the module in the current buffer directly via alchemist? So basically... detect if there is a module in the buffer, send it's name in a reload-command to the IEx, execute it.

[2015-12-09 08:48] tonini commented on #192
@timbuchwaldt yes thats a good idea. I'll try to put it together later.

Thanks for the input :+1:

[2015-12-09 10:08] timbuchwaldt commented on #192
Cool, looking forward to it! :)

[2015-12-10 08:37] tonini commented on #192
Good morning @timbuchwaldt

It's now available on the [master](https://github.com/tonini/alchemist.el/commit/395e671703252611fb9dc211d693bf5376090e9d)

You need to wait until [melpa](http://www.melpa.org) built the newest alchemist package from master. But after that you just can `M-x package-install` the newest version.

Thanks for the hint :+1:

[2015-12-10 13:27] timbuchwaldt commented on #192
Mornin! :) It works, awesome - thanks for implementing that :)

[2015-12-10 13:33] #192 closed

[2015-12-16 06:18] tonini commented on #183
@whatyouhide @gausby I guess would could close this issue. The workflow which @whatyouhide explained is really nice and works well enough. :+1:

[2015-12-16 06:18] #183 closed

[2015-12-16 06:28] tonini commented on #186
@davoclavo Whats the status for you about this issue?

The current behavior is that truncation is enabled, as you can see in the image below:

![truncation enabled](http://i.imgur.com/B7vGnPu.png)

And when we disable truncation like with `toggle-truncate-lines` (if you have truncation enabled by default)

![truncation enabled](http://i.imgur.com/gCfNXaM.png)

/cc @gausby @whatyouhide what you guy

[2015-12-16 06:43] tonini commented on #190
Hi @Cifer-Y

I had a look at this case and searched through the Emacs documentation.
There are two function which you can call to rather scroll down or up in the other window, in our case the window where the Elixir documentation for the current completion candidate is selected.

Here are an example where you can bind these two functions to two good reachable keybindings.

[code]

`scroll-other-wi

[2015-12-16 07:12] Cifer-Y commented on #190
@tonini Thanks for your patience, I'm not very good at emacs, the two functions 'scroll-other-window and 'scroll-other-window-down is very helpful, thank you very much.

[2015-12-16 07:12] #190 closed

[2015-12-16 07:56] tonini commented on #190
@Cifer-Y I'm glad that it helped. :+1:

[2015-12-16 10:15] gausby commented on #183
I have adopted the described workflow, so I am good. The «run at mark + run last test»-flow also work with quickcheck properties, so it is truly great.

Thanks @whatyouhide for implementing that.

[2015-12-16 10:38] gausby commented on #186
I actually [run `toggle-truncate-lines` when the test buffer opens](https://github.com/gausby/emacs.d/blob/master/setup/elixir-setup.el#L33), so I guess my vote is on this behaviour.

Would it make sense to do a keybinding for `toggle-truncate-lines` inside test buffers by pressing something like `T`, or would that diverge from the way other modes handle test buffers? Toggling them seems like a us

[2015-12-18 10:22] whatyouhide commented on #183
:tada:

[2015-12-20 20:52] hojgr opened #194 "Listing files in Elixir mode doesn't work"
Hello,

I am using alchemist.el in my emacs and when I try any of phoenix-mode related commands that should list files, it just shows root of project in dired mode.

Example:
I pres `C-c a n c`, in mini window appears `[wannawatch] web/controllers:` where `wannawatch` is my project, I press enter and nothing happens. When

When I do the same but insert name or part of a controller, an empty `funda

[2015-12-21 13:17] tonini commented on #194
Thanks for reporting, I'll have a look at it and let you know what I found.

[2015-12-21 14:17] hojgr commented on #194
Just to clarify - it happens with all list functions, that is web directory, channels, models, controllers, views, static,...

I am just affraid it's issue on my side :( No idea how to find out.

[2015-12-21 20:59] TheoAndersen opened #195 "goto-definition-at-point dosen't work on aliases"
The `alchemist-goto-definition-at-point` is great, but if you use an alias it can't find the definition of function calls. (Alchemist version 1.6.0)

      alias Rumb1.User

      def new(conn, _params) do
        changeset = User.changeset(%User{})    # <-- definition cannot be found
        render conn, "new.html", changeset: changeset
      end

      def create(conn, %{"user" => user_params})

[2015-12-21 21:02] TheoAndersen commented on #195
now i look at the alchemist code, it seems like it takes aliases into account in some way - but it does not work when i try it. Maybe i have something setup wrong?

[2015-12-22 19:47] tonini commented on #195
Thanks @TheoAndersen I'll have a look at it as soon as possible :+1:

[2015-12-22 20:39] TheoAndersen commented on #195
Now i have an example where M-. can't find its way into `import Plug.Conn` or the reference too it which is a call to `get_session(conn, :user_id)`

on the first i get an `error in process filter: Wrong type argument: strings, nil` and on the get_session it returns `Don't know how to find get_session`

[2015-12-22 20:44] gausby commented on #195
I have the same problem and I am working in a project located in an umbrella.

[2015-12-25 22:40] gleb commented on #56
I did some investigating and somehow comint and IEx don't get along.

Here's the minimal test case:

[code]

got to *IEX* buffer and paste

[code]

and IEX appears to hang.

Erl works fine.

[code]

and paste

[code]

I was wondering if it was something about the prompt.   To rule it out I setup .iex.exs

[code]
This makes IEx prompt the same as erl's default prompt.   Still hangs with multiline i

[2015-12-25 22:45] gleb commented on #160
That's because my-alchemist-iex--send-command strips newlines from input breaking syntax in cases like these:

[code]

Which appears to be a workaround for comint+IEx not being able to handle multi-line input.   See #56
#56 would need to resolved before this workaround is removed.

[2015-12-25 23:50] gleb commented on #56
The problem may be in IEx itself.
[code]
paste a multi-line expression, get a hang

[2015-12-26 14:25] gleb commented on #56
Jose confirms problem in IEx:
https://groups.google.com/forum/#!topic/elixir-lang-talk/HoTY3YZP3y8

[2015-12-26 19:44] TheoAndersen commented on #195
Just tried debugging the problem - and it seems to happen at the call to the elixir backend - i can't figure out why though :) (stumbling my way around here)

Now I'm a total ELisp newbie, so don't take this the wrong way - i think this project is excellent and you do great work. But looking at tests, they seem very unit testy (small / focused). Wouldn't it be cool to include some broader tests, w

[2015-12-27 10:09] tonini commented on #56
Thanks a lot guys for all the effort you put into hunting the issue.

My apology for respond a but late, but all these holidays and my kids were ill too made my days a bit busy. :-)

I have kind of an idea to fix this issue, I'll get back to you if I have a branch for testing ready.

[2015-12-27 10:16] tonini commented on #195
Hey @TheoAndersen and @gausby

Thanks guys for having a deep look at this issue so far.

My apology for responding a bit late to this issue. I really had some busy holidays and my kids were ill too. But it looks like everything getting better and I try to get back in shape with my projects. :+1:

@TheoAndersen about the test suite I think you're right, I'll start adding integration tests for cover

[2015-12-27 10:31] tonini commented on #195
@TheoAndersen What Elixir version are you using? And it is possible to get the source of your codebase?

I tested it in my own environment and codebases, and it always works. So I need some codebase to test it.

[2015-12-27 10:39] tonini commented on #195
@TheoAndersen is it possible to catch you on #elixir-lang irc channel or slack?

[2015-12-27 16:01] gleb commented on #56
@tonini What's the idea? Tell us more :-)

Still waiting for a reply from Jose.

Meanwhile I hacked together an IEx wrapper script that seems to workaround the problem.    The idea is to always to wait for a prompt (maybe secondary prompt) before sending another line of input.

[code]

[2015-12-27 20:13] TheoAndersen commented on #195
Hi @tonini

Np with the timing. I have kids as well and the holidays are always busy busy :)

I'm running Elixir 1.1.1.

And the codebase I'm working on are the examples from the Programming Phoenix book.
Just pushed my hacky version of it to here; https://github.com/TheoAndersen/rumbl (yes i misspelled rumbl as rumb1 in the source :S)

And my emacs config is here if that's relevant. https://githu

[2015-12-27 20:16] gausby commented on #195
@TheoAndersen there are elixir emacs related channels on both Slack and IRC. I don't know much about slack but we are hanging out at #emacs-elixir on irc.freenode.net—We are not the lively at the moment, but I hope that we can improve that :)

[2015-12-29 08:20] tonini commented on #56
@gleb If the underlaying problem could be fixed Elixir wise that would be great!

On the other hand I realized that there is an issue that we have to wait until the `IEx` prompt is showed up again after an input. So what I did is sending just always one line to the running `IEx` process instead the whole block including newlines and then always wait until the prompt is visible again. Works actuall

[2015-12-29 12:03] safi commented on #195
Hi @TheoAndersen, I guess the convention you have used for naming the modules 'Rumb1' instead of 'Rumbl'(as per the directory structure) isn't helping alchemist to resolve the alias.

[2015-12-29 12:05] TheoAndersen commented on #195
:) it was a typo that i didn't bother to fix. I'll try it and see if it dosen't help it.

By the way, should the go-to defintion be able to hop down to the code in deps as well? - its sometimes helpfull to be able to jump inside phoenix code to see how it works in there.

[2015-12-29 12:29] TheoAndersen commented on #195
I have pushed a fix to my Rumbl project so that it now is Rumbl and not Rumb1, and now the part where User was aliased in user_controller seems to work.

In the same file theres a reference to Repo (without using the Rumbl namespace) which dosen't seem to work. But that might be something i have done again - and maybe we're beginning to nitpick..

Only thing left was that @gausby also had similar

[2015-12-29 13:08] safi commented on #195
alias for Repo is injected from 'use Rumbl.Web', which is why go-to definition is not able to resolve it. Otherwise, go-to definitions can resolve code in deps/  as well.

[2015-12-29 13:48] tonini commented on #195
@gausby the issue with an umbrella projects are still the thing that the root of the main project cant be detected because of the `.mix` file. So we should talk about that issue here https://github.com/tonini/alchemist.el/issues/185

[2015-12-29 13:54] tonini commented on #195
@TheoAndersen I tested it with the codebase of `rumbl` and everything works correctly. Did you compile the whole project before trying to jump to definitions? Because without `BEAM` files the informations wouldn't be there at all.

[2015-12-29 14:02] #56 closed

[2015-12-29 14:03] #160 closed

[2015-12-30 13:39] tonini commented on #160
@manukall is fixed on master

[2015-12-30 13:40] tonini commented on #56
@gleb @andreas-roehler is fixed on master

[2015-12-30 23:40] gleb commented on #56
@tonini Works for me.   Thanks!   Will use/test it more, and let you know if anything comes up.

[2015-12-31 09:01] tonini commented on #186
@gausby thats a great idea. :+1:  https://github.com/tonini/alchemist.el/blob/master/alchemist-test-mode.el#L112

[2016-01-04 08:42] manukall commented on #160
@tonini thanks :+1:

[2016-01-10 22:14] gausby commented on #158
How about jump-to-definition for module-attributes ?

It would be quite handy to position the cursor over a module-attribute and be able to jump to its definition like one can do with functions.

[2016-01-12 06:10] #186 closed

[2016-01-12 06:15] tonini commented on #194
I tested the functionality in several phoenix based projects and it always worked for me. So I wonder if it could be that you're not inside a phoenix project at all?

Could you test something for me? Please open a a file based in your phoenix project so that the `default-directory` variable with be set and then call one of the phoenix mode list functionalities.

Thanks

[2016-01-14 07:13] #184 closed

[2016-01-14 07:21] tonini commented on #195
@TheoAndersen whats the status about that?

[2016-01-14 14:17] goofansu opened #199 "Invoking and cancelling alchemist-mix makes tasks duplicated"
I don't know whether this is a problem in alchemist.

I'm using [ivy-mode](https://github.com/abo-abo/swiper), which is a generic completion method for Emacs.

When `alchemist-mix` is invoked and canceled by `C-g`, every mix task will be duplicated, see the image below. If I execute a task, all duplicates will go away.

Don't know how to debug that, welcome to any help, thank you.

![duplicate ite

[2016-01-15 10:22] TheoAndersen commented on #195
I've updated to 1.7.0 of Alchemist and tested it again and it works.

So for my point of view this issue is resolved :)

[2016-01-15 10:22] #195 closed

[2016-01-15 21:32] hojgr commented on #194
I tried it and still have the issue. Can I check if default-directory is correct? I'm new to emacs :(

[2016-01-18 07:19] tonini commented on #199
Hi,

I have no idea about the reason why the mix tasks are duplicated, but I could try to fix it with a remove of duplication in the list before serving them.

Would you test a branch if I made one ready with a fix, because I can't reproduce it locally on my machine.

[2016-01-18 07:34] tonini commented on #194
The `default-directory` automatically becomes permanently buffer-local when set. For example if you open a file it becomes the value of the current directory of that file. If you using something like `projectile` and open projects it becomes for example the project directory you opened a file from.

Just check the current value with `C-h d` and select `default-directory`

[2016-01-19 02:22] goofansu commented on #199
@tonini sure

[2016-01-29 10:36] sandeshsoni opened #202 "Add version control"
Can we have layer version control added / enabled by default ?

So that one can directly jump to next hunk in file.
`SPC g . n` for next hunk
`SPC g . N` for previous hunk

My Alchemist version 1.7.0

[2016-01-29 10:46] gausby commented on #202
Alchemist or Elixir mode does not handle source code version control, it seems like something specific to the Emacs VC package. May I suggest that you put it in an initialisation hook for emacs-mode if you want it activated by default for emacs-mode?

[2016-01-29 10:50] syohex commented on #202
@sandeshsoni spacemacs ?

[2016-01-30 07:59] tonini commented on #202
@sandeshsoni as @gausby already mentioned this has nothing to do with the purpuse of what Alchemist is for.

I recommend you have a look at [magit](https://github.com/magit/magit) an awesome Emacs Git interface and much more. :+1:

[2016-02-02 06:28] tonini commented on #202
I'll close this issue because it's about a topic which haven't to do with the purpose and functionality Alchemist is about.

Thanks

[2016-02-02 06:28] #202 closed

[2016-02-11 07:11] aaronjensen opened #203 "alchemist-project-toggle-file-and-tests and lib dir"
When in a phoenix project, I have a `web` dir and a `lib` dir. I've preferred to keep my tests for lib within `test/lib` and tests for `web` simply within `test`.

Unfortunately, alchemist assumes that anything in `lib` like `lib/foo.ex` wants its test to be in `test/foo.ex`. So, if I had `web/foo.ex` and `lib/foo.ex` they'd both end up in the same place in the test folder.

Would it be possible t

[2016-02-11 07:12] aaronjensen commented on #203
Oh, and if there is already a convention for this and we're just "doing it wrong" that's fine too, we just don't know the convention.

[2016-02-15 18:42] mosic commented on #203
Sorry if this is not constructive, but why would you have two files with the same name in `lib` and `web` directories? If they're both in the root of the two directories they would presumably also have the same module name, so you'd be basically redefining one module with another.

I think that having a `lib`or `web` directory inside `test` is unusual, you want to have something like this:
`lib/so

[2016-02-15 18:51] aaronjensen commented on #203
@mosic yes, I'm trying this out now on my project. The way I was doing it is how rails did it, but I'm good w/ trying it this way for now. I'll close this out.

[2016-02-15 18:51] #203 closed

[2016-02-15 19:07] rogergl opened #206 "Syntax-Highlighting and formatting for eex templates ?"
It would be nice to have some Syntax-Highlighting and/or formatting.

For example

[code]

could be formatted as:

[code]

[2016-02-15 19:33] gausby commented on #206
Hi @rogergl

Alchemist doesn't handle indentation; indentation is handled by https://github.com/elixir-lang/emacs-elixir so I suggest opening the issue there. I don't know if it will handle Elixir specific indentation for eex templates; I have web-mode enabled in eex files, so I guess it is web-mode that handle the indentation :)

[2016-02-23 05:49] pragdave opened #207 "Elisp error when running tests"
This have been working without issue for months. Then, over the weekend, I set up a fresh Linux box. Now, when I save an Elixir file, I get

[code]

The code in question is https://github.com/tonini/alchemist.el/blob/master/alchemist-test-mode.el#L262-L266

[code]

Any ideas?

Dave

[2016-02-23 07:55] tonini commented on #207
Hi @pragdave

Thanks for the issue report,  I guess I have an idea what's problem is. I'll try to get some time today to work on.

Thanks

[2016-02-24 08:35] tonini commented on #207
@pragdave could you please give this https://github.com/tonini/alchemist.el/pull/208 branch a try?

[2016-02-24 15:02] achernyak opened #209 "Code style parsing via Dogma"
I just came across a pretty nice Elixir package static code analytics. [Credo](https://github.com/rrrene/credo) parses your files for style issues. It seems to work great from my perspective.

Is there any possibility of integrating it with Alchemist as a linter?

[2016-02-24 15:30] gausby commented on #209
Credo provides its own mix tasks, so you could execute it by running the `alchemist-mix` function, normally bound to <kbd>C-c a x</kbd> and select the credo task.

[2016-02-24 15:54] achernyak commented on #209
That's actually my process right now.

I guess I wasn't very clear, but the idea would be to see this in the buffer you are current editing. Similar to how linters for other languages display directly on the line with the lint error.

[2016-02-24 20:17] gausby commented on #209
Ah, I see. It is a nice idea, but my gut feeling is that it should go into a minor-mode of its own. My argument for this is that other linters might come around, and alchemist should not pick sides or play favourites with projects not in Elixir core.

I guess it could be achieved as a [flycheck](https://github.com/flycheck/flycheck) plugin. I'll investigate flycheck.

[2016-02-26 14:49] gausby commented on #209
You can extend your alchemist setup like so:
[code]
This will run credo on the project when `C-c a p c` is invoked.

[2016-02-26 15:52] achernyak commented on #209
@gausby Thank you, that actually makes it much more pleasant to use. I just started using emacs a couple weeks ago, so this is really helpful.

[2016-02-26 15:52] #209 closed

[2016-02-26 17:04] gausby commented on #209
Glad I could help, and I hope that you enjoy using Emacs

[2016-02-26 20:26] randre03 opened #210 "Emacs hangs when running Alchemist during Autocomplete"
I am running Spacemacs (0.105.11) on top of Emacs (24.5.1) on OSX (El Capitan). Whenever I am working on Elixir I do so with Alchemist, but now I have noticed that every time it will hang and I have to force Emacs to restart. I tried to get some more info with "debug-on-error" but for some reason that was not triggered when Emacs froze. It is to the point where I cannot use Alchemist any more, som

[2016-03-06 19:46] mcginleyr1 commented on #210
I'm also encountering this. It is also the alchemist-server on auto completion.  I was able to break out of the freeze by grabbing the PID for alchemist-server and killing it from the command line.  I am looking for any logs that can help us understand what's going on.

[2016-03-06 19:57] gausby commented on #210
I don't use spacemacs and I haven't got any problems.

It would be helpful if you could get the version numbers of alchemist.el, alchemist-server, and elixir-mode.

[2016-03-06 20:08] mcginleyr1 commented on #210
[code]

[code]

[code]

Feel free to just point me to a good way to debug the server and I can look into this, and update the ticket.

[2016-03-06 20:33] gausby commented on #210
Seems to be the latest and greatest. How about disabling company? Does it stop the freezing?

[2016-03-06 20:35] mcginleyr1 commented on #210
I was actually playing with that last weekend and turning company off does stop the freeze.  It's directly related to completion, none of the other functionality causes the freeze.

[2016-03-06 21:10] gausby commented on #210
I've been looking into the issues regarding company and freezes on the spacemacs issue tracker.

  * https://github.com/syl20bnr/spacemacs/search?utf8=✓&q=company+freeze&type=Issues

It seems that there are some issues with other modes as well, so perhaps some of the solutions works in this case.

[2016-03-06 21:21] mcginleyr1 commented on #210
:+1:

[2016-03-07 03:43] randre03 commented on #210
Have not hit upon the solution in any of those issues yet. I do note that there is one issue listed After upgrade to 105 Emacs freezes in nim-mode in auto-complete #4403 that noted the following in the errors they were seeing:

In the Messages buffer I found:

Company: An error occurred in auto-begin
Timeout server response.
Company: An error occurred in auto-begin
Timeout server response.

My err

[2016-03-07 08:00] tonini commented on #210
Hi,

First thanks to @gausby to helping the people with the issue out. :heart:

Could it be that you guys using the `company-quickhelp` mode? https://github.com/expez/company-quickhelp

Recently a few guys from the slack channel realized that the freezing happens when they using it. Alchemist does all the request to the server async and working with callback (filter) functions, so when quickhelp t

[2016-03-07 14:12] mcginleyr1 commented on #210
hmm it does appear it is on by default https://github.com/syl20bnr/spacemacs/blob/f49792e1206895b7440e24c8193ac5af6c5548c7/layers/auto-completion/packages.el#L27  I'll turn it off later and work on my elixir project to see if turning it off helps. Thanks @tonini and I agree thank you @gausby

[2016-03-08 10:28] tonini commented on #210
https://github.com/expez/company-quickhelp/issues/33

[2016-03-09 04:10] thomas-consulting commented on #207
It may be a while—I'm away from the Linux machine. I'll try as soon as I can

[2016-03-09 08:12] tonini commented on #206
I'll close this issue because the syntax highlighting and indentation functionality is part of the `elixir-mode` as @gausby already mentioned.

[2016-03-09 08:12] #206 closed

[2016-03-09 08:13] tonini commented on #194
@hojgr whats the status about this issue?

[2016-03-13 08:27] tonini commented on #199
@goofansu Could you please update to the latest alchemist version and try this one again? It should be fixed by now.

Thanks

[2016-03-14 12:41] aaronjensen opened #212 "If alchemist-company would return one candidate, it prepends the prefix"
Example, have some code in an elixir project like:

[code]

type `nor`

Observe two completions, including "nor", expect only one.

![](https://screenshots-dx37.s3.amazonaws.com/monosnap/hotel_avail_test.exs_2016-03-14_05-35-52.png)

Problematic code: https://github.com/tonini/alchemist.el/blob/master/alchemist-company.el#L113-L115

added here: https://github.com/tonini/alchemist.el/commit/6bce867

[2016-03-14 16:07] goofansu commented on #199
Yes, fixed. Thank you.

[2016-03-14 16:07] #199 closed

[2016-03-19 19:39] lexmag opened #213 "False autocomplete on whitespace input"
For example in `config.exs` file, type `foo:` and move cursor to the beginning of the line type 2 spaces:

<img width="395" alt="screen shot 2016-03-19 at 18 51 05" src="https://cloud.githubusercontent.com/assets/248290/13900913/3563b7a4-ee12-11e5-9630-684472912ccc.png">

[2016-03-20 09:56] tonini commented on #213
Hi @lexmag

Thanks for the issue report, I found the problem and will push to master later on. :+1:

[2016-03-20 10:05] lexmag commented on #213
Hey @tonini, that's great. :yellow_heart:

There is also some relevant problem I think:

<img width="420" alt="screen shot 2016-03-20 at 11 02 19" src="https://cloud.githubusercontent.com/assets/248290/13903855/6c7da334-ee8b-11e5-8c71-75c1c14c6494.png">

This is just typed as is, with no cursor movements.

[2016-03-20 21:31] #213 closed

[2016-03-21 08:49] tonini commented on #212
Thanks @aaronjensen I'll have a look at this one as soon as possible.

[2016-03-22 09:56] tonini commented on #212
@aaronjensen After @lexmag pointed to the reason why we added this behaviour  https://github.com/tonini/alchemist.el/issues/181 I reverted the changes.

[2016-03-22 14:40] aaronjensen commented on #212
Can we reopen this then? It's still an issue and it seems like there's got to be a better fix that solves both issues.

[2016-03-22 15:20] tonini commented on #212
Sure, let's try to think about a solution.

[2016-03-22 15:25] aaronjensen commented on #212
tbh, I don't think it's something to solve in the completion backend. This change makes the backend behave different from every other one I've seen.

It should either be solved via something that automatically adds the `end` like https://github.com/Fuco1/smartparens or a custom binding that does what you want like https://github.com/company-mode/company-mode/issues/94

[2016-04-01 17:47] Korbin73 opened #216 "Code formatting conflict with tab key"
First, thanks for building alchemist. It's fantastic. I do have a question about the code formatting. When I try to format code like this:
[code]

The indention doesn't work after starting the Timex.Date expression. The editor wants to put all subsequent lines (the ones starting with |> ) on the same indention level as begin_date. Is there something I'm doing wrong? I did try doing C-q tab. That d

[2016-04-01 18:42] gausby commented on #216
As I read this question I figure it is about indentation—alchemist.el is all about tooling, such as integration with mix, jumping to definitions of things, all the stuff that makes you go wooh! Formatting and code highlighting are handled in and by another project: [the Elixir major mode](https://github.com/elixir-lang/emacs-elixir).

It is a known issue, and has been so for a while (sorry) https:

[2016-04-01 20:04] Korbin73 commented on #216
Ahh. Yes, that's exactly what I was talking about. Hmm. Too bad I don't know emacs lisp. I would take a shot at doing a pull request if I did. Anyway thanks @gausby

[2016-04-01 20:05] #216 closed

[2016-04-06 22:56] flomop opened #217 "Can not make code folding with alchemist.el."
Are there any ways to make code folding in alchemist? Is this feature are going to be implemented?

[2016-04-07 03:59] tonini commented on #217
Hi,

For code folding I recommend packages like
https://github.com/gregsexton/origami.el

flomop <notifications@github.com> schrieb am Do., 7. Apr. 2016, 00:56:

[2016-04-07 12:32] flomop commented on #217
Hi, @tonini . Thanks for reply, origami is just perfect!

[2016-04-07 12:32] #217 closed

[2016-04-07 12:34] gausby commented on #217
@flomop If you get it to work, and are willing to share your configuration for origami we/I can add it to the Alchemist documentation :)

[2016-04-07 13:06] flomop commented on #217
@gausby Ok, I'll test it for at least few days and make feedback :)

[2016-04-07 13:09] gausby commented on #217
@flomop if you create gist I can test along with you!

[2016-04-07 23:13] flomop commented on #217
@gausby Since I'm using spacemacs, I created origami-layer and bind origami-toggle-node to tab-key.

https://gist.github.com/flomop/d2c328febbaf7ba74a7573b8ead22b13

[2016-04-08 11:27] gausby commented on #217
@flomop I imagine we need an Elixir origami parser. I just installed origami and I am fairly sure it needs to be told what constitute a node, for Elixir I could imagine it would be `do..end` and `""".."""`.

[2016-04-08 13:59] flomop commented on #217
@gausby I belief origami recognize node automatically using indentation. Since in my project I use a very strict indentation rules, I did not realize that you need to told origami about elixir-node delimiters.

[2016-04-08 14:06] gausby commented on #217
@flomop Wow, that is true, it works as expected—I just needed to enable it in my Elixir buffers.

I'll try it out for a couple of days and see if it misbehaves. Thanks.

[2016-04-08 19:43] OnorioCatenacci opened #219 "Running "Mix test this buffer" Appears Not To Run DocTests"
Hi Samuel,

Windows 10
GNU Emacs 24.5.1 (i686-pc-mingw32).
Alchemist 1.7.0 (package 20160322.251)
Elixir-Mode 2.2.8 (package 20160324.314)

When I run mix test from a command line, I get 5 doc tests run as expected:

But when I run from within emacs via the Alchemist menu ("Mix test this buffer") it appears to not see the tests at all:

Any ideas on what I might check to figure out what's going on

[2016-04-09 09:05] tonini commented on #219
Hi @OnorioCatenacci

If you run `mix test this buffer` and you're not inside a `elixir test file` buffer nothing will run at all.

I guess you wanted to run the whole test suite like you explained you running outside emacs in the terminal.

I added the missing menu bar entry for running the whole test suite https://github.com/tonini/alchemist.el/commit/56f015e49ebc14e02e57db8da1be3dc9fa561e65

You

[2016-04-09 12:51] OnorioCatenacci commented on #219
Ok, that makes sense. Thanks Samuel!

Samuel Tonini <notifications@github.com> wrote:

[2016-04-09 14:32] Trevoke opened #220 "Suggestion: "simpler" quick navigation for Phoenix files"
I made the same suggestion to [projectile-rails](https://github.com/asok/projectile-rails/issues/2). I am fairly confident it made sense for projectile-rails, but here I'm newish to Elixir and Phoenix, and I don't know if my suggestion is reasonable, especially when you consider umbrella projects. In any case --

It would be nice if I could type the keyboard shortcut to find a controller file and

[2016-04-09 14:44] gausby commented on #220
Personally I use projectile to locate files. This works pretty well for all elixir projects that follows a strict file naming structure.

I would recommend people needing this functionality to checkout Projectile, which is available on melpa.

[2016-04-09 15:19] Trevoke commented on #220
Well -- alchemist already implements this functionality with `C-c a n c`
for controllers, `m` for models, etc.

On Sat, Apr 9, 2016 at 10:44 AM Martin Gausby <notifications@github.com>
wrote:

[2016-04-10 16:54] gausby commented on #220
I am sorry I didn't read your issue-description well enough; i see that you suggest something that works with projectile—the very project I suggest checking out :) That is what I get for checking and replying to issues on my phone while riding a train.

[2016-04-18 09:37] expilo opened #222 "Cannot install Alchemist"
When I try to install Alchemist using M-x package-install on up-to-date Debian Jessie I am getting:

[2016-04-18 09:40] tonini commented on #222
Hi @expilo

Could you first try `M-x package-refresh-contents` and then `M-x package-install RET alchemist` again?

[2016-04-18 12:45] expilo commented on #222
That did the trick. Thanks!

[2016-04-18 12:51] whatyouhide commented on #222
@expilo you can close the issue if it's solved :)

[2016-04-18 13:01] #222 closed

[2016-04-23 09:45] pasja opened #223 "Alchemist IEx freeze"
Hello,

With the following little snippet i could froze the IEx shell completely, i had to kill it from an outside terminal. It does not return the prompt, just waits indefinitely.

[code]

Elixir version: `Interactive Elixir (1.2.3)`
Alchemist version: `1.8.0`

[2016-04-23 09:57] pasja commented on #223
Sorry, something was wrong on my side, i could not reproduce it...

[2016-04-23 09:57] #223 closed

[2016-04-23 15:05] aaronjensen opened #224 "alchemist-project-elixir-root is slow and called often"
While trying to diagnose laggy typing in emacs, I discovered that the `alchemist-company` backend is responsible for creating lag:

Without:

![typing lag without alchemist-company](https://cloud.githubusercontent.com/assets/8588/14762206/be5095e6-0929-11e6-9172-f3dffcde1cd8.png)

With:

![typing lag with alchemist-company](https://screenshots-dx37.s3.amazonaws.com/monosnap/Typometer__Editor_laten

[2016-04-24 08:44] tonini commented on #224
Thanks @aaronjensen for the great informative overview.

We could/should cache the function for sure. 👍

[2016-04-25 11:05] tonini commented on #224
@aaronjensen could you run your diagnose test with the following branch? https://github.com/tonini/alchemist.el/pull/225

[2016-04-25 14:56] aaronjensen commented on #224
@tonini not much improvement:

![typometer editor latency analyzer 2016-04-25 07-55-05](https://cloud.githubusercontent.com/assets/8588/14788041/07bd3fb2-0abb-11e6-86b3-6174d696dc02.png)

[code]

[2016-04-25 14:59] aaronjensen commented on #224
Ah, actually, that makes sense because I did not open anything in the elixir source, so that cache would never be set. Also, my project would never trigger that. So I think it may require a per-path cache or maybe buffer local (not sure how you'd reset it in the pathological case of moving a project file into the elixir root)

[2016-04-25 16:13] tonini commented on #224
I see the problem with the elixir source path cache. But I guess we got the solution by free with the `alchemist-goto-elixir-source-dir` variable (which is used by `alchemist-goto`). What do you think?

[2016-04-25 16:29] tonini commented on #224
@aaronjensen Ok I updated the branch, if you get the time please give it another try :)

Be sure you initialized the variable `alchemist-goto-elixir-source-dir` like explained here http://alchemist.readthedocs.org/en/latest/basic_usage/#definition-lookup

[2016-04-25 23:23] aaronjensen commented on #224
Looks much better! I tested on a different computer and I don't have the results here but it was a smoother line, and the profile looked like it wasn't alchemist related, so 👍

[2016-04-26 06:16] tonini commented on #224
Many thanks @aaronjensen for benchmarking this case and helping fixing it. 👍

I'll close it now because #225 is merged into master.

💛 💙 💚 ❤️

[2016-04-26 06:16] #224 closed

[2016-04-26 19:08] jimm opened #226 "Module name regex does not handle digits"
The regex `alchemist-scope-defmodule-regex` used for finding module names does not allow digits in the names and it does not enforce a capital letter at the beginning of the module name. I have a branch and a PR that will fix this. I'll open the PR and reference this issue.

[2016-04-27 07:57] #226 closed

[2016-04-30 15:58] aaronjensen opened #228 "Improve recompilation"
At the moment, the best way to recompile a given file into your alchemist iex session is `alchemist-iex-compile-this-buffer`, which works, but leaves `.beam` files in your current working directory. `IEx.Helpers.c/2` takes a path, so I assume we could specify the existing build path if there is one. I do not know how to find that or detect that we are within a mix project.

Alternatively, or perha

[2016-05-05 10:53] purcell opened #229 ""C-c a" isn't a permissible keybinding for minor modes"
The [keybinding conventions](https://www.gnu.org/software/emacs/manual/html_node/elisp/Key-Binding-Conventions.html) describe which keybindings are legal for minor modes, and `C-c a` isn't among them -- it's one of relatively few bindings reserved for end-user customisation.

I'd strongly encourage you to change this default, and perhaps simply make it easy for users to bind your keymap to `C-c a`

[2016-05-05 10:54] purcell commented on #229
/cc @bbatsov, because this applies equally to `projectile` and `projectile-rails`.

[2016-05-12 06:28] tonini commented on #228
Thanks @aaronjensen

I'll work on this one and let you know about in the PR.

[2016-05-12 10:39] tonini commented on #229
Hi @purcell

Many thanks pointing this out to me. I'll start thinking about a good keybinding solution instead of `C-c a`.

If you have some recommendations or ideas, I'm open for any suggestion. 👍

[2016-05-12 16:45] parkouss opened #230 "I can't get to see the completion for the code of my project"
Though it is working for base elixir code. I narrowed down the bug to one function in the server file, I'll attach a PR.

[2016-05-12 16:47] parkouss commented on #230
So, with this patch it works fine for me. Please let me know what you think, and thanks a lot for this great package!

[2016-05-12 16:48] parkouss commented on #230
BTW, I use emacs 24.5.1.

[2016-05-13 06:37] purcell commented on #229
`C-c '`, `C-c ;` etc. are options. No specific recommendations, sorry. :-)

[2016-05-18 15:48] epogue commented on #230
I'm running into the same problem. It is also affecting my ability to use commands like `alchemist-mix`. `alchemist-server-status` always responds with `alchemist-server` as the current project even though I am definitely working inside of a `mix` project. Currently using emacs HEAD (25.1.50).

[2016-05-18 17:11] parkouss commented on #230
Oh, got it. The default value of alchemist-goto-elixir-source-dir is "", and this makes the function alchemist-project-elixir-root returns "", and then alchemist-project-elixir-p finally returns t...

So we end up with the server thinking that we are in the elixir source code. :(

So, I am not sure if it is a bug (it may be on purpose, but in that case it would be great to say in the documentation

[2016-05-19 06:55] tonini commented on #230
@parkouss thats a great catch!

It would't be great if you could modify the PR that it would use the `alchemist-utils-empty-string-p` to check `alchemist-goto-elixir-source-dir` inside `alchemist-project-elixir-root`.

This should work then.

[2016-05-19 15:05] NgaNguyenDuy opened #232 "iex repl position"
Hi,

When i start iex repl by command `alchemist-iex-run`, the repl is located at the right. I used popwin to put it to the bottom but it's not work.
Here is the code:

[code]

Pls help me.

[2016-05-19 15:28] gausby commented on #232
It has been a while since I used popwin (switched to schakle a while back), but try renaming `Alchemist-IEx` to `"*Alchemist-IEx*"`.

[2016-05-19 18:20] parkouss commented on #230
@tonini done. :) I tested it a bit, this seems to works fine.

[2016-05-19 18:24] #230 closed

[2016-05-19 18:25] #219 closed

[2016-05-19 18:56] epogue commented on #230
:+1: Thanks @parkouss!

[2016-05-22 00:12] NgaNguyenDuy commented on #232
Thank @gausby . It's worked. :+1:

[2016-05-22 00:12] #232 closed

[2016-05-23 14:11] aaronjensen commented on #212
It looks like https://github.com/tonini/alchemist.el/commit/6bce8673693f79d7b2011d386e39347d32d8132e actually introduces an infinite loop in company-mode: https://github.com/company-mode/company-mode/issues/516

The suggestion in that thread is to either not add `company-prefix` at all, adjust `company-keywords-alist`, or hardcode the keywords in alchemist and add the matching ones to the completi

[2016-05-25 06:40] tonini commented on #220
for controllers, `m` for models, etc.

So does that mean that you're fine and this issue can be closed?

[2016-05-25 12:13] Trevoke commented on #220
Almost:

Right now I have to type the full file name, e.g. `user_controller.ex`. I think it would be nice to be able to just type `user` once we are at the controller selection in the minibuffer.

[2016-05-25 12:30] gausby commented on #220
@Trevoke I think that is something you need to add to your own Emacs config. I use ido with fuzzy matching myself and I think that I have what you are asking for. Give [flx-ido](https://github.com/lewang/flx) a try.

[2016-05-25 23:24] Trevoke commented on #220
Hi Martin,

The same suggestion was accepted and implemented by projectile-rails this
way: https://github.com/asok/projectile-rails/issues/2 (there is a link to
a commit with cucumber scenarios, which might help explain further what I
mean).

It's not something that _I need_ to add to my own emacs config; it is a
change to the interface presented by alchemist.

Does this explain better what I am a

[2016-05-26 08:17] gausby commented on #220
Okay, I think I got it now:

Say we have the following files in */web/controllers/*, *auth_controller.ex*, *profile_controller.ex*, and *page_controller.ex*. Currently the interface for jumping to controllers show: */web/controllers/auth_controller.ex*, */web/controllers/profile_controller.ex*, etc.

You suggest that they should instead be shown as: *auth*, *profile*, *page*, etc.

I guess this wo

[2016-05-27 09:37] #228 closed

[2016-05-27 20:01] wende opened #235 ""r" to rerun in MixTask mode"
There is a lot of cases when I want to rerun a Mix task, the same way we rerun tests, and I'm guessing I'm not the only one.

It'd be cool to be able to restart the task with `r` the same as in MixTest mode

[2016-05-28 22:01] gausby opened #236 "Alchemist hex functions seem to return `search failed`"
When executing `alchemist-hex-releases` and typing in a module it will fail with the following message:
[code]
This seems to be the case for `alchemist-hex-info`, `alchemist-hex-search`, etc.

[2016-05-29 06:02] tonini commented on #236
Thanks for the report @gausby :+1:

[2016-05-31 17:09] michalmuskala commented on #185
We were discussing this issue briefly on IRC.

There's no 100% sure way to detect if we're in umbrella, but there are couple heuristics that could be used:
* checking if `mix.exs` is under `apps/app_name` path.
* there's `mix.exs` but no `deps` or `_build` (`_build` existed in umbrella applications prior to 1.2),
* in `mix.exs` there are `build_path`, `config_path` and `deps_path` with values poin

[2016-06-03 06:35] tonini commented on #236
Hi @gausby

The issue should be fixed on https://github.com/tonini/alchemist.el/commit/52037e881970d4cc3eebbad560b8312384ac3bbb

As always thanks for your patience 💚 💛 💙 😄

[2016-06-03 06:35] #236 closed

[2016-06-11 14:07] fredriks commented on #210
Hi,

I'm also encountering this issue with company-quickhelm during autocomplete. I am however able to break out of the freeze with `Quit` and this is the trace from `debug-on-quit`:

[code]

GNU Emacs 24.5.1 (x86_64-unknown-linux-gnu, GTK+ Version 3.20.3) of 2016-05-05 on arojas
spacemacs 0.105.21
alchemist 1.8.0
elixir-mode 2.3.1

[2016-06-24 15:48] Trevoke commented on #229
I came here to mention this, though my [reference](https://www.gnu.org/software/emacs/manual/html_node/elisp/Keymaps-and-Minor-Modes.html#Keymaps-and-Minor-Modes) is different :)

[2016-06-28 16:26] hunterboerner commented on #210
Any idea on how this can be fixed?

[2016-06-28 16:49] hunterboerner opened #240 "Typo in alchemsit-complete--dabbrev-code-candidates"
alchem**sit**-complete--dabbrev-code-candidates

Line: https://github.com/tonini/alchemist.el/blob/4754aa52f1825c8adb99347ddb6fb80b56dd919e/alchemist-complete.el#L128

[2016-06-28 18:30] hunterboerner commented on #185
A temporary workaround for the completion issues is to simlink `_build` in the app directories to `../../_build`.

[2016-06-30 08:30] fredriks commented on #210
I added a workaround in my spacemacs config where I override `alchemist-company--wait-for-doc-buffer` and just abort if the lookup takes to long.

[code]

Rather ugly hack but it allows me to keep using company-quickhelp with alchemist.

[2016-07-04 04:10] shosti opened #241 "Unable to jump to definitions in stdlib"
This might be setup-specific (I'm using [asdf](https://github.com/asdf-vm/asdf) for elixir version-management), but jumping to definitions in Elixir/the stdlib doesn't work out of the box on my system. A little poking makes it easy to see why:

[code]
[code]
Obviously not much good :wink:

As a horrifically hacky workaround, I've symlinked /Users/jose/OSS/elixir to a local checkout of the elixir s

[2016-07-15 18:07] mcade commented on #210
I'm having the same issue using purcell's emacs setup. to workaround for now disabling company-quickhelp-mode stops it from freezing.

[2016-08-04 00:57] gstamp opened #242 "Jump to definition sometimes not working on with new alias syntax"
The new alias syntax seems to cause problems with alchemist jump to definition.

[code]

If I change things to

[code]

Things seem to work as expected so it appears to be related to the ordering.

[2016-08-07 13:24] vasspilka opened #243 "Phoenix generation helpers"
A feature for 2.0 I'd like to see is a generator helpers for `phoenix.gen.xx`. I would image it being a bit like Magit commit, where a window would be oppened with the output of `mix help phoenix.gen.xx` and optional.. options. After filling that you would actually write the generator attributes. (probably in a new window/buffer)

Reson is I frequently do `mix help phoenix.gen.xx` anyway before ac

[2016-08-08 06:55] tonini commented on #241
Hi @shosti

I guess you just need to setup the right erlang & elixir source variables. Have a look here how to do this: http://alchemist.readthedocs.io/en/latest/basic_usage/#definition-lookup

Please give me feedback or ping me #irc or #slack if you still have issues.

[2016-08-08 06:56] tonini commented on #242
Thanks for the report on this one @gstamp, I'll have a look at this asap.

[2016-08-09 11:15] stardiviner opened #244 "Company backend ’alchemist-company’ should not be added globally."
Most user add `company-yasnippet` by define their own global `company-backends`.
I think `alchemist-company` should not be added to global backends list by default in the package.

And also added in the global list will cause warning message like:
[code]
When I opened org agenda buffer.

[2016-08-12 01:19] olafura commented on #185
Here is an solution, I'm not experienced enough with emacs script to implement it in a reasonable amount of time:

So it seems like the emacs script can run arbitrary elixir code so you can execute:
Mix.Project.build_path
with
mix run

Then you can get the build directory into the script, you can also do the same
trick with the elixir server and swap out elixirc for mix run.

[2016-08-13 09:34] Fahrradflucht opened #245 "alchemist-project-create-file behavior in Phoenix projects"
In phoenix projects the behavior of `alchemist-project-create-file` is a bit annoying because it starts at `/lib` which a lot of times isn't where the file should go.

I think it would be better to either detect phoenix projects and change the behavior of `alchemist-project-create-file` or add a `alchemist-phoenix(-project)-create-file`

[2016-08-13 10:21] gausby commented on #245
How about suggesting folders based on the information provided by `project/0` in *mix.exs*? Phoenix set the *web*-folder by adding it to `elixirc_paths` on the map returned by this function.

[2016-08-14 12:49] NobbZ opened #246 "This project violates emacs' key binding conventions"
The conventions can be read in full here: https://www.gnu.org/software/emacs/manual/html_node/elisp/Key-Binding-Conventions.html

To be exact, it does violate this rule:

Currently, I do not use `C-c a` for anything, but other people might do. Also I planned to use it as a prefix for my emacs integrated **a**pplications (mail, usenet, etc).

[2016-08-14 12:52] gausby commented on #246
Thanks for reporting this; there is already an open issue on this: #229

[2016-08-14 12:55] NobbZ commented on #246
Oh, sorry, I haven't seen that. I'll close this one here then.

[2016-08-14 12:55] #246 closed

[2016-08-14 13:13] NobbZ commented on #229
Please do not use `C-c '`, it is used in `org-src-mode` to save current buffer content into the master file and then close and kill the buffer.

`C-c C-a` seems to be available though, but is reserved for major-modes (which is `C-c ;` as well).

I do think it had been better if the emacs team had said `C-u` is reserved for user stuff, but they did not and we have to live with a very nasty small se

[2016-08-14 13:18] Trevoke commented on #229
To be fair, the emacs conventions only specify that packages can't SET those keys, but there's nothing wrong with alchemist showing a list of these exact keybindings in the readme and then letting users CHOOSE whether or not to change them.

[2016-08-15 12:21] tonini commented on #229
There are many suggestions which prefix we should use in the future as default for the `alchemist minor mode`.

Currently I'm thinking about `C-c \`.

What's your opinion on this one guys?

[2016-08-15 13:25] Trevoke commented on #229
On standard American keyboards, `\` is a bit out of the way on the right side, so unless the next keys are on the left, it might be a little annoying to use.

This being said, I don't think it would be a great hindrance, and like all other things, we'll get used to it (or rebind it ourselves to something else, of course)

[2016-08-15 13:58] whatyouhide commented on #229
Do we strictly need a default keybinding? Maybe we can ask users to set it up in the "Installation" section of the README.

[2016-08-15 14:34] gausby commented on #229
@whatyouhide I guess we need a default keybinding to provide a base level of usability.

That said, I am no usability expert.

[2016-08-15 14:49] Trevoke commented on #229
The alchemist documentation is already quite readable, and the quickstart is very quick. I know this kind of thinking is a potental slippery slope, but I don't see the cost of adding a paragraph that says:

[2016-08-16 04:18] chowevtfy opened #247 "`alchemist-iex-run` doesn't work with pry"
Easy enough to reproduce:

[code]

[2016-08-16 07:03] tonini commented on #245
@Fahrradflucht @gausby Actually this should be not that hard to accomplish.

We could suggest the `web` or `lib`directory only if we detect a phoenix project. Otherwise, `lib` is default.

[2016-08-16 07:05] tonini commented on #241
ping @shosti

[2016-08-16 07:10] Fahrradflucht commented on #245
Now that I think about it again:

Is there another intended way to create test files? If not then why not suggest lib or test for regular and lib web or test for phoenix projects?

[2016-08-16 09:20] gausby commented on #229
I am using a standard american keyboard, and I don't think \ `C-c \` is that hard to type, though you would need two hands, and the right hand would leave the home row. I know this would be horrible to type on a danish layout (and perhaps other scandinavian keyboard) as backslash require two modifier keys to type (alt+shift+7, as far as I recall).

`C-c ;` is easy on an american keyboard as ";" do

[2016-08-16 09:21] whatyouhide commented on #229
I still agree with @Trevoke :)

[2016-08-16 09:29] gausby commented on #229
@whatyouhide that is okay. I just tried to bring some justifications and do some reasoning.

This would be the first Emacs package I've encountered that didn't provide default bindings, if we choose to remove them.

[2016-08-16 11:42] gausby commented on #245
When it comes to Phoenix; the plan forward should be to include the web folder in the lib folder, so I don't think alchemist should cater in any special way when it comes to Phoenix (or any other framework).

I think the ideal way to get the folders for a given project is to consult the `elixirc_paths` info from the mix-file—if that is possible—and add the test/-folder to that list; that way alche

[2016-08-16 11:43] Trevoke commented on #247
This problem occurs with `shell` and `eshell`. Both `term` and `ansi-term` handle `IEx.pry` correctly.

However, I'm not sure to which extent this is a problem with alchemist instead of a problem with Elixir.

[2016-08-16 11:45] Trevoke commented on #244
The company backend for Golang shows how we can do it ourselves, so I'm guessing similar changes can be applied inside alchemist:

https://github.com/nsf/gocode/tree/master/emacs-company

[2016-08-16 11:49] Fahrradflucht commented on #245
If [this](https://github.com/phoenixframework/phoenix/pull/1871) gets merged into Phoenix then @gausby suggestion would be a good enhancement, but just adding the test folder and calling it a day would be a quick fix to.

[2016-08-16 12:18] Trevoke commented on #229
Just like you, I'm trying to bring up a different argument as well. I've used a number of packages that didn't provide default keybindings, though it's true that by and large, they are provided for us.

At this point my expectation for not having a default keybinding has a triple purpose:
- one is that it's a very simple way for the package to follow the emacs conventions.
- two is that I can go b

[2016-08-16 13:50] stardiviner commented on #244
I created an PR:
https://github.com/tonini/alchemist.el/pull/248

[2016-08-18 23:05] chowevtfy commented on #247
It works fine with alchemist.vim, so I suspect that it has to do with this plugin.

[2016-08-18 23:58] Trevoke commented on #247
I assumed this had to do emacs, was I wrong?

Which shell does alchemist.vim go to?

[2016-08-20 08:41] gabrielelana opened #249 "Let `truncate-lines` be customizable"
Running on Alchemist `1.8.0`

Usually I open the alchemist buffers (especially the test report) side by side to my code, when I have errors the default line truncation is really annoying because I need to jump to the window and press `t`. I tried to overcome the problem (following the advice from #186)

[code]

But without success, I think that your code executes after the hook, you could avoid th

[2016-09-08 17:37] mosic commented on #249
Just chiming in to say that I'd also appreciate this feature. I also tried using a hook but it didn't work.

[2016-09-13 06:23] tonini commented on #241
@shosti ping :)

[2016-09-13 06:28] tonini commented on #207
@thomas-consulting Hi Thomas. Did you had the chance to try it again? Cheers

[2016-09-13 06:29] tonini commented on #194
ping @hojgr

[2016-09-13 06:55] #240 closed

[2016-09-13 15:14] shosti commented on #241
@tonini sorry got sidetracked! Those both look perfect; couldn't find them earlier. I'll give them a try!

[2016-09-13 15:14] #241 closed

[2016-09-16 08:35] 4ZM opened #252 "Workflow: recomendations and suggestions"
Getting started with alchemist (which is awesome!), all the commands are kind of overwhelming. Especially if you are new to Elixir. I'm unsure when to re-compile with mix after I've changed a module and when to reload the buffer in iex, etc.

I would really appreciate some documentation of an example workflow and what alchemist commands are used in each step. Something like: create a new project,

[2016-09-16 15:44] vasspilka commented on #252
There is this [refcard](https://github.com/tonini/alchemist.el/blob/master/doc/alchemist-refcard.pdf) [(spacemacs version)](https://github.com/syl20bnr/spacemacs/blob/master/layers/%2Blang/elixir/alchemist-refcard.pdf). Also lot of info here http://alchemist.readthedocs.io/en/latest/basic_usage/

But its not really what you ask for, I guess most people tend to develop their own workflows, I'm quit

[2016-09-16 16:03] vasspilka commented on #252
Also @tonini I would suggest putting a documentation link in the alchemist website http://www.alchemist-elixir.org/ (preferably somewhere noticeable).
When I first wanted to learn more about alchemist I was looking all around and could not find the documentation link, it was only many days after that I realized where it was. I know its on the README however its just a small paragraph and I somehow

[2016-09-20 13:48] Trevoke commented on #210
Yep. I have the same issue. quickhelp works fine for other buffers, but something in the way alchemist works with company creates a problem.

[2016-09-21 04:26] evanson opened #253 "Feature request - Add syntax highlighting and indentation support for the `with` statement"
Here's a description of how the `with` statement is used: http://elixir-lang.org/docs/master/elixir/Kernel.SpecialForms.html#with/1

[2016-09-21 05:09] syohex commented on #253
Is this [elixir-mode](https://github.com/elixir-lang/emacs-elixir) issue ?

[2016-09-21 06:05] tonini commented on #253
@evanson yes, @syohex is right. Things about indentation and highlighting belongs to the `elixir-mode`.

[2016-09-21 06:06] tonini commented on #252
Hi

That's a good point, I'll try the link to the docs later. Thanks 😄

[2016-09-21 07:34] evanson commented on #253
Ah, right.

[2016-09-21 07:34] #253 closed

[2016-09-21 09:44] 4ZM commented on #252
No example or recommended workflow?

[2016-09-21 09:49] vasspilka commented on #252
To be fair, I asked if you wanted to see something written by me and you never replied.

[2016-09-21 09:59] 4ZM commented on #252
@vasspilka I'm sorry I was slow reacting to your post. I would love to see something like that! Apologies if my comment came across as rude, it was not my intention. I was just surprised the ticket was closed without a comment as to why.

I'm not new to emacs, but to Elixir and it's ecosystem of tools, emacs modes etc. Any hints on a smooth and productive workflow would be much appreciated.

[2016-09-21 10:28] vasspilka commented on #252
@4ZM Ok, I'll fix something up in a blog post or something and share it here. Probably will be ready by the end of the week.
I'd recommend to give the refcard https://github.com/tonini/alchemist.el/blob/master/doc/alchemist-refcard.pdf a look if you have not already, basically everything I'm going to say will involve commands from there, as well as some stuff inside iex.

[2016-09-21 10:45] 4ZM commented on #252
Looking forward to it!

[2016-09-21 14:45] tonini commented on #210
Is fixed through https://github.com/tonini/alchemist.el/commit/6cd09d0be8c5be05ae4f8ba12f31c943e251f5b7

Thanks for the patience

[2016-09-21 14:45] #210 closed

[2016-09-21 15:26] #244 closed

[2016-09-21 15:39] sdwolf opened #255 "Can not jump to definition in other files when compiling in a docker container."
OS: `Manjaro Linux v230`
Elixir: `1.3.2`
Erlang: `19`
Emacs: `24.5.1`
Alchemist: `1.8.1 (package 20160921.499)`

I am using spacemacs as following:

[code]

The project I am trying to navigate is: `https://github.com/sdwolf/exlearn`

I can jump to functions defined in the current file and to functions from the elixir/otp sources but not to the ones in other files defined in my project.

Setting `(

[2016-09-22 07:43] tonini commented on #252
## About working with Documentation Lookup

- [Documentation](http://alchemist.readthedocs.io/en/latest/basic_usage/#documentation-lookup)
- [Article about it](https://medium.com/@samueltonini/elixir-documentation-right-at-your-fingertips-with-alchemist-8cb813fe6dc1#.3svloarln)

[2016-09-24 14:58] syohex commented on #253
BTW It looks elixir-mode already supports `with` statement highlighting and indentation.

[2016-09-24 22:41] vasspilka commented on #252
@4ZM I found myself in a busy weekend, so I most likely won't have time for article until sometime during the week, sorry for taking me long.

[2016-09-26 05:09] tonini commented on #255
@sdwolf Hi

Yes that is the issue, you need to understand that the `alchemist-server` gets the informations about completion/src from the `BEAM` files, which lay in the project root directory (`_build/...`).

[2016-09-26 06:39] tonini commented on #242
It's fixed on https://github.com/tonini/alchemist.el/commit/6863032d8377bc4f116e145ab9bf02b2143acbfc

Thanks for the report

[2016-09-26 06:39] #242 closed

[2016-09-26 08:23] sdwolf commented on #255
I've worked around this by moving my emacs inside a container with the same setup as the one in which i compile.

Is it OK if I create a PR to highlight this behavior in the auto-completion section of the docs?

[2016-09-26 10:51] tonini commented on #212
@aaronjensen Hi

Could you please test the latest master about the current completion behaviour and then put your feedback into this issue. I really would like to know how we could improve in the near future the whole autocompletion stuff.

[2016-09-26 11:29] gaydenko opened #256 "quickhelp vertical shift"
Hi!

Please. look at the https://github.com/expez/company-quickhelp/issues/49

Also I have found elixir qiuckhelp always starts form the second row in the tooltip window, while, say, elisp quckhelp starts from the first. Can these two observation be related to each other ant to, probably, the way quickhelp API is used by alchemist (say, indexing or something else)? Say, some unexpected text vertic

[2016-09-26 11:41] tonini commented on #256
Hi @gaydenko

First, Alchemist doesn't uses `company-quickhelp` at all. The`company-quickhelp` uses the Alchemist related company doc functionality. It's important to say that because people getting to confused lately where the responsability about issue could be. 😏

Second, to your issue about where the tooltip windows starts. I don't know, honestly this is not an Alchemist thing at all, it's all

[2016-09-26 12:10] gaydenko commented on #256
@tonini , hi!

Have tried  7512305 and got the same result (that is shifting). My idea was company/company-quickhelp behave as expected because the issue doesn't take place with other (elisp) language.

As far as the issue isn't alchemist related, closing it.

[2016-09-26 12:10] #256 closed

[2016-09-26 15:16] aaronjensen commented on #212
@tonini the current backend behavior seems good. I'm not sure I understand the changes, however. It seems like `alchemist-complete--build-canddiates` expects a list whose `car` is the prefix and whose `cdr` is the candidates. When would the entire list just be candidates?

Also, for the original `end` autocomplete issue in #181 I believe the proper fix is to use the `company-keywords` backend like

[2016-09-28 19:34] vasspilka commented on #252
@4ZM Here is the first half of the article https://medium.com/@vasspilka/c35f460e04e1 sorry for taking me more that I said but lot of stuff happening, hopefully I'll have the whole article ready soon

[2016-09-29 06:40] 4ZM commented on #252
Great stuff! Exactly what I was looking for. Looking forward to the rest of the blog.

Something that I would particularly like to get some info on in the next part is reloading in iex and how it fits together with mix compile in the workflow.

Say you're writing a phoenix app and you make a change to a controller. What then? I guess; compile it, run the tests, reload it in iex (if running the ser

[2016-10-02 01:18] johnmedina1010 opened #258 "cannot type capital "T" in the beginning of IEx as it is binded"
capital "T" is binded to  evil-find-char-to-backward as shown in bindings.

Is there any way to edit this binding?

[2016-10-02 01:58] gaydenko commented on #258
At my case `T` is just the next command prefix (no spacemacs in use). It is interesting, prefix `T` results in prefix `A`, and the last one results in prefix `B`. Do you see `TAB`? :) It seems somewhere a key name is treated as a string.

[2016-10-02 19:35] walter commented on #258
I'm experiencing this as well (example is trying to type `Ecto.DateTime` in `*Alchemist-IEx*` buffer).

Using Aquamacs 3.3  GNU Emacs 25.1.1 and alchemist package 20160921.832. I'm haven't set up `evil-mode` that I'm aware of.

[2016-10-02 19:40] walter commented on #258
Updated alchemist package to 20160926.2346 and still experiencing it.

[2016-10-02 21:52] walter commented on #258
anli in Slack pointed me to `which-key` package and the use of the corresponding mode to track down key mapping options. That led me to discover the following:

Looks like `T-A-B` (i.e. shift-t, shift-a, shift-b) maps to `company-complete`. `T` and `A` are prefixes.

Which is, of course, what the `tab` key is mapped to as well judging by the behavior. So I imagine somewhere in the code (may be ano

[2016-10-02 22:52] asummers commented on #258
I am unable to reproduce on an earlier version. Looks like this commit added the TAB binding. Perhaps it should be `<tab>`?

https://github.com/tonini/alchemist.el/commit/f7b0959105abbb27936577f9427310c1c14417be

[2016-10-03 05:07] tonini commented on #258
It's fixed on master thanks to @syohex and @walter 💛

[2016-10-03 05:07] #258 closed

[2016-10-05 12:42] vasspilka commented on #252
@4ZM Article finally finished.
https://medium.com/@vasspilka/basic-workflow-for-alchemist-el-c35f460e04e1#.cytatqvhe

Sorry to not have responded here earlier.

I find using an external shell inside emacs with `term` is better than using `iex -S mix phoenix.server` with `alchemist-iex-project-run`, because with the latter `IEx.pry` complains some time.
If you do `iex -S mix phoenix.server` phoenix

[2016-10-05 18:56] 4ZM commented on #252
Great article! Thank you

[2016-10-24 13:15] olieidel opened #260 "Alchemist not auto-loading with elixir-mode"
Having installed Alchemist via melpa, it doesn't activate alchemist-mode with elixir-mode in emacs-prelude.

Interestingly, manually evaluating
[code]
(as seen in alchemist.el) and then switching out and back into elixir-mode also doesn't activate alchemist-mode.

Instead, evaluating
[code]
and then re-switching into elixir-mode does activate alchemist-mode (I therefore added this to my personal/i

[2016-10-25 02:23] syohex commented on #260
I think you should write

[code]

Because a function `alchemist-mode-hook` is not an autoloaded function.

[code]

This code works because

1. Evaluate `(alchemist-mode +1)`
2. alchemist-mode command is an autoloaded function so that alchemist.el is loaded at that time
3. Evaluate [this code](https://github.com/tonini/alchemist.el/blob/d8a059333634a2f97033e64de4226f4d310b3b8f/alchemist.el#L287) an

[2016-10-26 07:16] jclosure opened #261 "alchemist-complete + company-mode doesn't show all candidates"
I should see greet/1 and greet/2, here correct?

<img width="338" alt="screen shot 2016-10-26 at 2 34 45 am" src="https://cloud.githubusercontent.com/assets/343099/19716575/89288fb6-9b2a-11e6-965b-731643f8e836.png">

[2016-10-27 15:38] lpil commented on #158
Is there still interest in Dialyzer support? I'm very new to elisp and (spac)emacs. What would be needed here?

[2016-10-28 03:24] jclosure commented on #261
I am using alchemist-20161002.2144 with company-20160829.1206.

I'm not sure if the issue is in the company-backend or alchemist.  According to the tests [here](https://github.com/tonini/alchemist.el/blob/master/test/alchemist-complete-test.el), I should be getting all candidates.  See that I should get delete/2 and delete/3 back from alchemist-complete--build-help-candidates:

[code]

My config i

[2016-10-28 21:21] walter commented on #209
Just a follow up note on "inline credo". Here's an example of what Atom looks like with it in place:

<img width="874" alt="screenshot 2016-10-21 09 40 27" src="https://cloud.githubusercontent.com/assets/10767/19822711/6f8df2b4-9dc1-11e6-9125-fc412947677e.png">

[2016-10-30 07:36] jclosure opened #263 "Raising errors in linked processes to Alchemist-IEx cause it to hang"
Linking a process Alchemist-IEx that happens to blow up, causes the repl to hang.

**Example:**
[code]

Doesn't go back to a prompt.  Just sits there.  I can C-g, C-x k, then restart the buffer, but that's not fun.

[2016-10-31 21:58] seancribbs commented on #185
You can also change the indicator for a root of the project with advice. It's not pretty, but it works for me now:

[code]

[2016-11-05 06:33] tjgillies opened #265 "Weird character when entering heredoc"
I'll enter `"""` on one line and then the next time I try to enter `"""` it's inserting a `\` so that it becomes `""\"`. Am I missing something?

[2016-11-08 07:12] tonini commented on #265
Hi, that sounds like not an `Alchemist` issue. Instead have a look at autopair packages which you using like `smartparens` etc.

[2016-11-12 19:55] pandeiro opened #266 "IEx REPL echoes input"
When issuing a command at the Interactive Elixir prompt, it is echoed before the output / result of evaluation is printed to the screen.

Emacs version: 25.1.1
alchemist.el version: 1.9.0snapshot (package 20161002.2144)

I've debugged this a little bit, and found that commenting out [this line](https://github.com/tonini/alchemist.el/blob/master/alchemist-iex.el#L166) "fixes" the issue. However, as

[2016-11-16 09:46] tjgillies commented on #265
Ah that was it! Thanks!

[2016-11-16 09:46] #265 closed

[2016-11-21 08:19] #255 closed

[2016-11-22 22:32] chrismcg commented on #78
I just saw this and thought `mix test --stale` might cover it but it doesn't. With ExUnit you can do

[code]

So it should be possible to parse the output and transform it into a command line that just runs the failed tests. Probably a bit harder than rspec though as it does output a list of the failed tests at the end.

[2016-11-23 00:08] chrismcg opened #272 "Incorrect completion when modules namespaced and more than one option"
This test in alchemist-company-test.el shows the problem:

[code]

The output is:

[code]

As highlighted by this screenshot:

![foo_ex](https://cloud.githubusercontent.com/assets/212/20546924/5e01a678-b110-11e6-9d63-8f5762402810.png)

I don't know enough yet to know where the problem is exactly. Some trial output showed the result from the backend is:

[code]

I suspect `alchemist-complete--build

[2016-11-23 00:30] chrismcg commented on #272
Looks like it's the server

[code]

In `complete_test.exs` fails

[code]

[2016-11-23 07:04] #249 closed

[2016-12-08 07:46] tonini commented on #272
@chrismcg excuse my late replay.

It would be great if you could open an issue on the `alchemist-server` repository so we could have a look there why this issue occur.

[2016-12-08 12:59] chrismcg commented on #272
@tonini Done, and no worries about timeliness of reply, we're all busy :)

[2016-12-13 15:28] collegeimprovements opened #273 "Can it lint my elixir code on the fly or on the save?"
Hi I'm using `spacemacs`. I've installed `credo` and `bunt` as shown in [the guide](https://github.com/syl20bnr/spacemacs/tree/master/layers/%2Blang/elixir). Even though I'm not able to see any effect when I make some mistake like writing `IO.pust` instead of `IO.puts` or when indentation is wrong or when I try to use some undefined module(e.g. `ThisModuleDoesNotExist.imaginary_method`) in an elix

[2016-12-14 03:14] syohex commented on #273
It can lint by flycheck. Do you enable flycheck-mode(`global-flycheck-mode`) ? flycheck setting is in [the guide](https://github.com/syl20bnr/spacemacs/tree/master/layers/+lang/elixir). Please check it.

[2016-12-15 06:59] collegeimprovements commented on #247
Also this break the `IEx` cannot be run from terminal also due to this. It will throw an error if Emacs is running.

[2016-12-15 08:39] collegeimprovements commented on #273
Yes. I've done it. But it doesn't suggest any hint/error when I give some NonExisistentModuleName or use some method on a module that is not defined. Is it possible to lint this type of error/gotchas with flycheck and alchemist?

[2016-12-15 13:59] rranelli commented on #78
Looks like it is *possible* to solve this issue now :)

I will try to take a look at this sometime in the near future. Thanks for the finding @chrismcg o/

[2016-12-17 08:48] blisscs opened #275 "Issue when using alchemist along with elixir version manger."
Hello,

I am using alchemist along with kiex elixir version manager.

I have set the parameters to override the mix and elixir default  setups in .emacs file. Please see below -

[code]

When I try to execute C-c a i-p I am getting -

[code]

I get the error
[code]

I think the mix here should be replace with the proper path here.

I am using Alchemist version: 1.9.0snapshot (package: 20161122.230

[2016-12-19 09:35] gausby commented on #275
I use the elixir version manager as well as alchemist and it works great. I use `exec-path-from-shell` to setup my environment, please give that a try: https://github.com/purcell/exec-path-from-shell

[2016-12-20 07:38] blisscs commented on #275
Hi @gausby,

After installation `exec-path-from-shell`. The errors related to $PATH seems to be fixed. But it's forcing to do `mix hex.local` even though I have done manually through the shell already. And when I confirm to do this `mix hex.local` emacs crashes.

Thanks

[2016-12-21 00:34] pdilyard opened #276 "Latest update of spacemacs puts too many "end"s"
Not exactly sure what changed, but I updated spacemacs today, and now I get too many closing `end` keywords.

Example:
[code]

[2016-12-21 06:58] tonini commented on #276
Hi @pdilyard

Alchemist has nothing to do with adding `end` or closing blocks in general. You need to have a look  at which packages are you using for open/closing blocks, like `smartparens` for example, I guess `spacemacs` comes with it by default but I'm not sure at all.

Thanks though for the report.

[2016-12-21 14:35] pdilyard commented on #276
I figured this was the case - thanks!

[2016-12-21 14:35] #276 closed

[2016-12-21 14:49] michalmuskala commented on #276
@pdilyard did you find a solution for that one?

[2016-12-21 15:00] pdilyard commented on #276
I posted an issue here: https://github.com/syl20bnr/spacemacs/issues/8030

I'm not exactly sure what changed, I don't see anything in the changelog of spacemacs that seems related. I suppose it could be an update to smartparens or something along those lines.

[2016-12-21 18:03] gausby commented on #276
I suggested them removing the *ruby-end*-package from their Elixir-layer some time ago, and they did—but it seems that they have recreated the behavior using smartparens: https://github.com/syl20bnr/spacemacs/blob/b7e51d70aa3fb81df2da6dc16d9652a002ba5e6b/layers/%2Blang/elixir/packages.el#L157-L172

[2016-12-21 21:42] blisscs commented on #275
I did make it work adding other couple shell variables please see code below -

[code]

Thank you @gausby

[2016-12-21 21:42] #275 closed

[2016-12-21 21:53] pdilyard commented on #276
For anyone interested, this is what I'm doing atm for a quick fix:

Open `~/.emacs.d/layers/+lang/elixir/packages.el`, and find the `elixir/pre-init-smartparens` function, and comment out the part that matches `end` with `->`. Here's what I've got:

[code]

Hopefully we'll come to a resolution that's a little smarter than just ignoring all arrows that need a matching `end`, but for now I'd rather

[2017-01-08 23:41] jmitchell opened #278 "Opening new `alchemist-refcard`: `Wrong type argument: listp, t`"
When I'm in `alchemist-mode` (`Alchemist version: 1.9.0snapshot (package: 20161122.2304)`) and create a new `alchemist-refcard` buffer using `C-c a h r` the buffer opens but I get the error `Wrong type argument: listp, t`.

If I press the same key chord while the buffer is still open I don't get the same error any more. To reproduce it I have to explicitly kill the buffer first (pressing `q` in th

[2017-01-08 23:50] jmitchell opened #279 "Request: scroll to top of alchemist-refcard by default"
When I open the refcard now using `C-c a h r` the point is at the bottom, and it's not immediately obvious there's more content toward the top. It would be nice if the refcard opened scrolled to the top by default, at least when the buffer is first created.

This elisp expression does it when `*alchemist-refcard*` is already open.

[code]

[2017-01-09 00:09] jmitchell commented on #279
In case anyone else wants the same thing now, this works:

[code]

The `ignore-errors` bit is necessary to overcome #278.

[2017-01-10 06:04] tonini commented on #279
Hi Jacob

Thanks for the report, I'll have a look at it as soon I have some time.

Thanks

Jacob Mitchell <notifications@github.com> schrieb am Mo., 9. Jan. 2017,
01:09:

[2017-01-15 18:47] cs-victor-nascimento commented on #158
Like mentionend in #273 it would be nice to have an on-the-fly credo linter (maybe using flycheck hooks... idk).

Credo is more portable than flycheck config because it has both a global and a project configuration that can be used by other Elixir development environments (like Atom, IntelliJ and the like).

[2017-01-16 06:00] aaronjensen opened #281 "M-. on elixir library functions just takes me to file"
It seems that any time I try to `alchemist-goto-definition-at-point` on an elixir standard library function (I do have `alchemist-goto-elixir-source-dir`) properly set, it takes me to the right file, but it drops me at the top of the file instead of on the function itself.

I'm using spacemacs, maybe something is configured incorrectly? Or maybe this is just how it works?

[2017-01-18 09:28] gjaldon opened #282 "Running alchemist test uses /usr/local/bin/elixir"
I'm using spacemacs and every time I do `SPC m a t`, it fails with an error related to using an older version of Elixir in my system which is at `/usr/local/bin/elixir`. Below is the error I get:

[code]

I use `asdf` version management of Elixir and the version that's set for my project is Elixir 1.4. When using alchemist-help, I get the docs for Elixir 1.4. I tried setting certain config variabl

[2017-01-18 09:44] tonini commented on #282
Hi @gjaldon

Thanks for reporting this one. I had a quick look and I found the issue in the alchemist mix library which called mix directly instead through the mix command custom variable.

The fix is already on master: https://github.com/tonini/alchemist.el/commit/20a0c043b5df66ee1f731e1ffe53d5697915b626

[2017-01-18 11:42] gjaldon commented on #282
Hi @tonini. Thanks for the quick response and fix! Just tested it out and it works. 💜

[2017-01-18 11:42] #282 closed

[2017-01-22 08:03] rdrey opened #283 "Documentation lookup"
Hi there!

This is probably my setup's fault since I'm new to everything (Emacs, Elixir, etc) but I can't get simple documentation lookup to work for builtins like `quote`.

My setup:
Spacemacs (up-to-date)
Elixir layer in Spacemacs
brew-installed elixir 1.4
I've downloaded the elixir source and can jump to the definition of `quote` for example.

I can use `alchemist-iex-run` to do `d quote` and g

[2017-02-01 15:12] jeanparpaillon opened #284 "On-the-fly compilation of current buffer with alchemist-server"
To my knowledge, alchemist do not provide on-the-fly compilation of current buffer with warnings/errors highlighting.
Compilation of current file/buffer with elixirc is just useless as elixirc do not know deps.

It something planned ? undocumented ?

[2017-02-02 23:11] russmatney opened #285 "Hot reload and re-run tests without full compile?"
Thanks for all the work on this project, it's fantastic.

What's the best way to go about re-running tests without a full re-compile? Seems we could take advantage of hot-reloading, and it'd massively speed up my dev cycle.

There are tools for live-reloading and running specific tests on file-save (I've been using [MrT](https://github.com/ruby2elixir/mr_t)), but I'd love a solution that is alchem

[2017-02-06 02:58] jojojames commented on #281
String.strip doesn't work for me the first time (takes me to the top of the file) but the second time (and third time, and so on), it'll show and ask for selection using completing-read so looks like the problem is probably for the cold start case.

[2017-02-06 19:46] pragdave opened #286 "Company mode issue with keywords < 3 characters long"
See this video: https://www.youtube.com/watch?v=CLiRhkRHEo8

If you enter "do" at the end of a line, and there are names that start "doxxx" in the buffer, the first completion is added when you hit return (the "do" becomes "doxxx")

Dave

[2017-02-06 21:04] jojojames opened #287 "[Question] Running alchemist in eex files"
There's some useful functions in alchemist that I'd desire to have in eex files (uses web-mode). (the alchemist-phoenix-* commands and maybe mix* commands., etc)

Is there a recommended way to get these commands working with eex files.

I'd prefer to run it as a minor mode (but I'm not sure if there's any gotchas/conflicts). Another path could be to bind keys to those commands in web-mode for eex

[2017-02-06 21:06] jojojames commented on #281
Another trivia bit is that String.strip is not part of the autocompletion list for me. (Company mode)

[2017-02-07 05:33] jechol commented on #185
Is this not working yet?

[2017-02-08 06:46] tonini commented on #286
Hi @pragdave

Thanks for your feedback about this behavior.
The case you explaining is kind of known and I already started to think about to hardcore the handling about the completion issue with keywords like "do". But I'm still not sure what would be a proper solutation to handle this.

What I would recommend at this point is, that you setup your company mode variable "company-minimum-prefix-leng

[2017-02-08 09:14] Frost commented on #283
I'm also having this problem with not being able to look up documentation. Regardless of what I search for, I get `No documentation for [whatever I search for] found`, but I still get to choose from a list of definitions which one I would like documentation for.

I am using Elixir installed using [asdf-vm](https://github.com/asdf-vm/asdf).

Now when I look at it, it seems like both asdf and homebr

[2017-02-08 17:05] pragdave commented on #286
Thanks for the reply.

I understand your pain—I spend 30 fruitless minutes trying to understand
company-mode before giving up.

Thanks for everything you do.

Dave

On Wed, Feb 8, 2017 at 12:46 AM, Samuel Tonini <notifications@github.com>
wrote:

[2017-02-09 07:52] tonini commented on #286
You're welcome and thanks for your feedback. :+1:

[2017-02-09 07:52] #286 closed

[2017-02-11 14:32] tarsius opened #288 "Please add a prefix to test-helper.el to avoid conflicts with 68 other packages"
There exist at least 69 packages that contain a file named `test-helper.el` that also provides the feature `test-helper`.

This leads to issues for users who have at least two of these packages installed.  It is unlikely that such a user would be able to run the tests of all of those packages.  If the primary test file of one of those packages does `(require 'test-helper)`, then it is undefined wh

[2017-02-11 16:45] tarsius commented on #288
I've been informed, that `ert-runner` automatically loads the `test-helper.el` file. So you should **not** rename that file. Instead please see [this issue](https://github.com/rejeep/ert-runner.el/issues/38), where I suggest that the `(provide 'test-helper)`. Please accept my apologize for opening these issues prematurely.

[2017-02-19 20:26] jojojames opened #290 "GoToDefinition doesn't work with Rumbl's router.ex"
Working through Programming Phoenix,

Go To Definition does not seem to work on the controller names in router.ex.

[code]

Put cursor on 'VideoController', use go to definition, will see a message indicating the GTD failed.

[2017-02-20 10:53] tarsius commented on #288
The maintainer of `ert-runner` agrees that it would be best to remove `(provide 'test-runner)`, and I would like to now encourage you to make that change. For some opinions on the matter please see rejeep/ert-runner.el#38.

Thanks for looking into this and sorry again for jumping the gun a bit.

[2017-02-20 11:27] diaes256 commented on #283
I have the same problem. But with something strange, i can go to the documentation of a function if the company-mode popup is open and i press c-h, that opens the documentation of that function.

But... if there are functions with many arities for example String.split it will only show the /1, or the function with the lower arity.

[2017-02-21 13:54] Bounga opened #291 "Using Alchemist *and* rbenv at the same time"
Hello. I'm a former Rubyist so I handle my Ruby versions using rbenv. I integrated it into my Emacs using https://github.com/senny/rbenv.el. This plugin is always on in my setup (`(global-rbenv-mode)`).

I'm using:

- OS X 10.11.6
- GNU Emacs 25.1.1
- Alchemist 1.9.0
- Erlang/OTP 19
- Elixir 1.4.1

As I'm doing more and more Elixir I really like the powerful integration that Alchemist does provide

[2017-02-21 23:23] ivan opened #292 "Bundled alchemist-server is vulnerable to remote code execution"
alchemist.el includes an alchemist-server vulnerable to unauthenticated remote code execution (https://github.com/tonini/alchemist-server/issues/14).  I'm opening this tracking issue as a (possibly useful) reminder to update alchemist-server later.

[2017-02-22 08:09] tonini commented on #291
Hi @Bounga

I would say this is not an rbenv related issue at all. I recommend using something like https://github.com/purcell/exec-path-from-shell from purcell to resolve the environment variables for the correct paths.

[2017-02-22 08:51] Bounga commented on #291
I already use exec-path-from-shell otherwise rbenv can't find its bin 😉

[2017-02-23 05:41] sbrother commented on #283
I am unfortunately having the same issue, and with the same workaround that @diaes256 reported. I'm using a fresh install of `alchemist` and `company` from MELPA, emacs 24.5.1.

[2017-02-27 20:57] Bounga commented on #291
So no clue about this. I do thin there's something related with rbenv emacs plugin works like a charm since disabling it makes alchemist works. Something happens with the path handling when both ar enabled and alchemist tries to resolve path to iex.

I do have this config and maybe it could help:

[code]

[2017-02-28 13:25] diaes256 commented on #283
The problem is how alchemist handle the docstrings with code. In the code you will see is extremely important the indentation to reproduce. You can **reproduce** this problem with the following code inside of any module.

[code]
Note the 6 spaces of indentation in the  `iex>`, for reproducing this effect.

But you can get your docstrings again removing the **newline** between the `iex>`. Or decrea

[2017-02-28 16:29] diaes256 commented on #283
yeheeee the problems is inside the function `alchemist-utils-empty-string-p`: The for checking an input of only spaces is WRONG: `"^\s+$"` if there is just ONE line that is empty this should match:

[code]
The result in both cases should `nil`.  I don't know how to regex multiple lines in emacs. So my solution is to simplily remove that `string-match-p`.

[2017-02-28 16:41] diaes256 commented on #283
Pull request #293

[2017-03-08 16:39] x-ji opened #294 "Keyword (if) inside of a comment still triggers code completion"
Steps to reproduce:

1. In a buffer with Elixir major mode activated, open a line of comment starting with `#`
2. Type `if`
3. Type space

Expected behavior: The space is normally inserted and nothing happens

Actual behavior: Code completion is triggered. `do` is inserted on this line and `end` is inserted on the next line.

Alchemist version: 1.9.0snapshot (package: 20170118.142)

Not sure if th

[2017-03-08 16:43] x-ji commented on #294
OK, seems that it's actually a behavior of smartparens instead of alchemist? From https://github.com/tonini/alchemist.el/issues/276

[2017-03-09 07:27] tonini commented on #294
Thanks

[2017-03-09 07:27] #294 closed

[2017-03-09 07:27] tonini commented on #292
Thanks @ivan to have a look at this issue and reported it.

[2017-03-11 09:59] bsmr opened #295 "mix credo => No match (alchemist 1.9.0snapshot)"
Maybe I am doing it the wrong way (I want to _explicitly_ run `mix credo`), but when I try `C-c a x credo` I get a `[No match]`.

A `C-c a x help` shows that credo is available.

_Note:_ Actually I could invoke `C-c a x credo` *once*, but currently I cannot reproduce it. Happily trying it another time again resulted in a `[No match]` result.

[2017-03-16 12:26] Trevoke commented on #291
So.. Sidestepping the issue would mean launching rbenv mode only for Ruby files, which might be good enough for you.

Otherwise we should go dive into the rbenv package and see what it's doing.

[2017-03-16 16:19] Bounga commented on #291
Thank you @Trevoke. I'll go with the "use rbenv only when in ruby-mode" then. It should do the trick for me.

[2017-03-21 13:33] jameskraus opened #296 "alchemist-goto-defintion-at-point fails to find definitions"
A lot of the time, alchemist-goto-defintion-at-point fails to return results (e.g. for phoenix's validate_required). Does anyone else know how to improve the lookup?

[2017-03-24 11:05] thecodethinker commented on #185
@michaelraskansky you could add the name of the sub project as an argument to a function that would switch context from the top level app to the sub app, then that runs the mix command, then moves context back to the top level.

With that you can make the default context whatever directory the file in the active buffer is in.

@tonini wouldn't it be good to have the ability to switch contexts in a

[2017-03-30 07:40] tonini commented on #296
Hi @jameskraus
The problem with phoenix is that it uses macros to import functionality and this makes it harder for `alchemist` to handle the definition lookup. I'm actually have an idea in mind to solve this but until I'm sure its not kind of hack and I have so spare time, people have to wait.

But thanks for using Alchemist and beeing patience

[2017-03-30 07:42] tonini commented on #290
https://github.com/tonini/alchemist.el/issues/296

[2017-04-03 01:50] jojojames commented on #290
Thanks, I'll be tracking the other issue then.

[2017-04-03 01:50] #290 closed

[2017-04-06 07:16] tonini commented on #288
Thanks @tarsius for the information about that and sorry for my delay in replying. :) I did the changes and pushed it onto master

[2017-04-06 07:16] #288 closed

[2017-04-06 08:51] tarsius commented on #288
Thanks!

[2017-04-12 19:26] Rageoholic opened #297 "IO.gets causes emacs to hang"
So when I run IO.gets emacs hangs until I C-g. After that I have to kill IEx because its still waiting for input.
Tested on Emacs 26 and 24

[2017-04-14 05:59] jojojames commented on #297
You can do M-x toggle-debug-on-quit and when you press C-g, it'll tell you what's hanging.

[2017-04-14 19:34] Rageoholic commented on #297
[code]

[2017-04-23 12:29] jaysoifer opened #298 "wrong type argument: commandp, alchemist-test-file"
Hi,

I am working on a test file that I need to refactor/fix.

**Expected**:

`<SPC> m t f` to run the current opened test.

**Actual Result:**

`wrong type argument: commandp, alchemist-test-file`

When I try and run the tests from the command line, I have no problems with it (they're not all passing 😁  but the test suite runs just fine).

Anyone knows what might be causing this?

[2017-05-22 17:46] maxbendick opened #299 "Link to site (http://www.alchemist-elixir.org) does not work"
Chrome says "www.alchemist-elixir.org’s server DNS address could not be found" when I try to follow the link to the site (http://www.alchemist-elixir.org).

[2017-05-23 06:26] tonini commented on #299
Hi @maxbendick
Thanks for the report about that, I reliazed that dnsimple now have a subscription plan way of doing things. I should work now again.

Thanks :heart: :green_heart: :blue_heart:

[2017-05-23 06:27] maxbendick commented on #299
Thank you!

[2017-05-23 06:27] #299 closed

[2017-05-23 07:25] tonini commented on #298
hi @jaysoifer
I was not able to reproduce this issue with the current Alchemist version.
Could you check out which version of Alchemist you're using with spacemacs?

[2017-05-29 12:12] mandarvaze opened #300 "mix credo doesn't work from emacs (works from terminal)"
I have latest release version (`0.7`) of `credo`
I'm using spacemacs
 `Alchemist version: 1.8.2 (package: 20170402.2339)

`mix credo` works well from the terminal/command line.

When I run `mix credo` (Using `C-c a x credo`) I get the following error :

    Could not find Hex, which is needed to build dependency :credo
    Shall I install Hex? (if running non-interactively, use: "mix local.hex --f

[2017-05-31 08:45] tonini commented on #300
Hi @mandarvaze
I tried to reproduce the issue you have but so far everything works well.
![]([http://i.imgur.com/9MxbY9y.png])

I think maybe an issue could be because emacs don't call the right `elixir mix`. What kind of OS and emacs setup are you using, and do you have a specific environment setup in your emacs config?

[2017-05-31 08:53] tonini commented on #295
Hi @bsmr

Could it be that something with your emacs and environment setup is not correct?

Because all what `alchemist` does is call that mix task via emacs functionality and runs it.

I think emacs calls the wrong mix version.

[2017-05-31 09:43] bsmr commented on #295
Almost _impossible_ because there is only one `mix` available.
But I will have a closer look at it (hopefully at the weekend).

[2017-06-02 18:48] CharlesIrvineKC opened #301 "Refactoring"
Does alchemist have any support for refactoring, e.g. module and function renaming?

[2017-06-04 23:43] mandarvaze commented on #300
I'm using Spacemacs (Version 0.200.9)
I'm on macOS Sierra
`credo` and 'alchemist` versions already mentioned above.

I do not have any special environment setup (that I know of)
But if anything - what specific thing to look for ?

Could there be any PATH related issues ? If yes, how can I troubleshoot ?

[2017-06-05 06:45] mandarvaze commented on #300
Based on your suggestion related to "specific environment setup", I tried something, and now things seem to be working.
I used to start my emacs as `HOME=~/spacemacs emacs &`
I think this was messing things up.

Now I just start emacs "normally", and "weirdness" seems to have gone away.

Thanks for this amazing tool.

[2017-06-05 06:45] #300 closed

[2017-06-05 16:10] bsmr commented on #295
Finally I had time to finish the setup of my development system for some tests.

The bad thing: now, it is somewhat different to the one, when I reported the _issue_.

| Software | Old | Now |
| --- | --- | --- |
| OS          | Ubuntu 16.10 | Debian 8.8 |
| Emacs    | 24.5/25.1 | 25.2 |
| Erlang     | <19.3 | 19.3.5 |
| Elixir        | <1.4.3 | 1.4.4 |
| Alchemist | 1.9.0 | 1.8.2 |
| Credo      |

[2017-06-05 16:10] #295 closed

[2017-06-09 14:16] #285 closed

[2017-06-14 09:18] #235 closed

[2017-06-16 19:59] whysoserious opened #304 "alchemist-goto-definition-at-point does not work with ecto project"
Steps to reproduce:
1. Clone https://github.com/elixir-ecto/ecto: `git clone https://github.com/elixir-ecto/ecto.git`
2. Launch emacs, go to any file in the ecto project, eg.: `lib/ecto/repo.ex`.
3. Observe that invoking `M-.` results eg. with the following message:
```Don’t know how to find: Ecto.Repo.Supervisor.runtime_config```

Emacs version: GNU Emacs 25.2.2 (x86_64-pc-linux-gnu, GTK+ Version

[2017-06-17 15:02] caleb opened #305 "Alchemist Doesn't Show Help For Phoenix render function"
Hi,

Firstly, I would like to thank everyone who works on this project. I'm getting started with Elixir and it's nice to have such good tools (Spacemacs + Alchemist is a really awesome combination!)

I have a Phoenix project that I'm playing around with, and when I try to get help for the `render` call in a controller nothing happens and I get an error in the `*alchemist-server*` buffer.

I can ge

[2017-06-22 11:19] Spadavecchia opened #306 "Phoenix minor mode is not working for Phoenix 1.3"
Phoenix 1.3 changes the structure of the project, including files and directories. So Alchemist is not recognizing a Phoenix 1.3 project and the minor mode is not working anymore.

[2017-06-22 11:53] tonini commented on #306
Thanks a lot for this report, I'll try to fix this asap.

[2017-06-26 02:30] BlindingDark opened #307 "alchemist-utils-empty-string-p: Symbol’s function definition is void: s-trim"
Emacs For Mac OS X 25.2
MacOS 10.12.5
MELPA Stable, alchemist 1.8.2

Trying to use company, As I type, I see

[code]

#105 This issue similar to my situation

I try to install alchemist manually (latest version from master branch).
When I try again, It told me, execute `(require 's)` failed
So I try to install `s.el`

[code]

And restart Emacs... It worked!

But when I try to install alchemist wit

[2017-06-26 02:52] BlindingDark commented on #307
When I put (require 's) in .emacs, It worked!

[2017-06-29 06:00] tonini commented on #307
Hi @BlindingDark
Thanks for the report, although the issue you have is already fixed. But as I can see you using MELPA Stable and the fix isn't released in a patch or minor release so far. You just need to use it to install it via MELPA and not MELPA Stable.
I hope to bring Alchemist v1.8.3 soon.

Thanks

[2017-07-05 08:46] CatTail commented on #298
@tonini Having the same issue with Alchemist version `1.8.2``

[2017-07-05 11:21] jaysoifer commented on #298
@tonini I'm terribly sorry for the delay in the answer. I just moved to another country, still trying to get things going here. It might take a while for me to able to help here. Hopefully @CatTail 's info can help.

[2017-07-05 16:34] CatTail commented on #298
BTW, I also should mention that my project is an umbrella app

[2017-07-10 14:21] zachdaniel commented on #185
I would really love to see this solved.

[2017-07-17 08:54] jaysoifer commented on #306
I'm getting the _Could not find a Phoenix Project root_ error. I'm assuming this is the same thing you're referring to @Spadavecchia ?

[2017-08-01 19:14] dcaixinha opened #309 "Add ability to compile and run tests inside Docker container"
It would be great to be able to use alchemist inside a Docker container. I've read the [important note](https://github.com/tonini/alchemist.el/blob/master/doc/basic_usage.md#important-note) on the Basic Usage page, which states that you can compile a project given that the path inside the container is the same as in the host.

This workflow has some issues, namely Docker changes the owner of certa

[2017-08-04 19:19] nitingupta910 opened #310 "Add support for exfmt"
Please consider adding support for elixir code formatter: exfmt (https://github.com/lpil/exfmt). Recently exfmt seems to have implemented all features required for integration with emacs: https://github.com/lpil/exfmt/issues/27

[2017-08-06 16:53] Trevoke opened #311 "Feature request: `g` in test buffer to rerun the same tests"

[2017-08-08 05:55] #287 closed

[2017-08-08 15:16] wpcarro opened #312 "Integrate mix xref"
Hi @tonini. First off, thank you for the work you're doing maintaining `alchemist`. My whole engineering team uses it and appreciates the work hard that went into developing it.

I was looking into Emacs features such as `"find usages"`, dead code warnings, and smarter project-wide refactors when I stumbled across `mix xref ...`. I know that emacs has its own functions that manage things like this